<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find an A&E
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %}
<div class="nhsuk-global-alert" id="nhsuk-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-global-alert__content">
          <div class="nhsuk-global-alert__message">
            <h2>Coronavirus: stay at home</h2>
            <p>Only leave your home if it's essential. This will help stop the spread of <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">coronavirus</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Breadcrumb -->
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Services near you</a></li>
        </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="find-a-service">Back to Services near you</a></p>
    </div>
  </nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <h1>
       Where to get urgent help for mental health
      </h1>
    </div>  

  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
<p><strong>If you need urgent help for a mental health crisis, emergency or breakdown, it's important to know that support is available.</strong></p>

<h2>If you just need to talk, any time of day or night</h2>
<h3>Free listening services</h3>

<p>These services offer confidential advice from trained volunteers. You can talk about anything thats troubling you, no matter how difficult:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li><a href="#">Call: 116 123</a> or talk to <a href="#">Samaritans</a></li>
  <li>Text "SHOUT" to 85258 to contact <a href="#">Shout Crisis Text Line</a></li>
</ul>
<p>If you're under 19:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li><a href="#">Call: 0800 1111</a> to talk to <a href="#">Childline</a></li>
  <li>Text "YM" to 85258 to contact <a href="#">Shout Crisis Text Line</a></li>
</ul>
<p> You can also email <a href="#">jo@samaritans.org </a>or <a href="#">visit a Samaritans branch</a> to talk to someone.</p>

<div class="nhsuk-inset-text">
<span class="nhsuk-u-visually-hidden">Information: </span>
<h3>Coping during a crisis</h3>
<p>The mental health charity Mind have information on <a href="#">ways to help yourself cope during a crisis</a></p>
<p>This includes calming exercises and a tool to get you through the next few hours.</p>
</div>

<h2>NHS urgent mental health helplines</h2>
 <p>NHS urgent mental health helplines are for people of all ages</p>
   
 <p>You can call for:</p>

 <ul class="nhsuk-list nhsuk-list--bullet">
   <li>24-hour advice and support - for you, your child, your parent or someone you care for</li>
   <li>help to speak to a mental health professional</li>
   <li>an assessment to help decide on the best course of care</li>
 </ul>
   <div class="nhsuk-action-link">
    <a class="nhsuk-action-link__link" href="finder/overview">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Find a local NHS urgent mental health helpline</span>
    </a>
  </div>
  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>If you've already been given a crisis line number to use in an emergency, it's best to call it.</p>
  </div>



<div class="nhsuk-care-card nhsuk-care-card--urgent">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Get advice from 111 or ask for an urgent GP appointment if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

    <ul>
      <li>you are not able to speak to a local crisis support service</li>
      <li>you need help urgently for your mental health, but it's not an emergency </li>
      <li>you're not sure what to do</li>
      
    </ul>
    <p>You may be able to speak to a nurse or mental health nurse over the phone.</p>
    <p>Go to <a href="#">111.nhs.uk</a> or <a href="#">call: 111</a>.</p>
    <p>A GP can help you <a href="#">access mental health services</a>. You may also be able to refer yourself to some services.</p>

  </div>
</div>

<div class="nhsuk-care-card nhsuk-care-card--immediate">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&E now if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

    <ul>
      <li>someone's life is at risk - for example they have seriously injured themselves or taken an overdose</li>
      <li>you don't feel you can keep yourself or someone else safe</li>
    </ul>
    <p>A mental health emergency should be taken as seriously as a physical one. You will not be wasting anyone's time.</p>
    <p><a href="#">Call: 999</a></p>
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="/finder/overview">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Find your nearest A&E</span>
      </a>
    </div>

  </div>
</div>

<h2>How a mental health emergency is treated in A&E</h2>
<p>If you go to A&E they should treat you with respect and look after any immediate physical and mental health needs.</p>
<p>They should also refer you to a liaison psychiatry service or local crisis resolution and home treatment team (CRHT).</p>
<p>You can read more about</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li><a href="#">liaison psychiatry services</a> on the Royal College of Psychiatrists website</li>
  <li><a href="#">crisis resolution and home treatment teams (CRHTs)</a> on the Mind website</li>
</ul>
<p>The team in charge of your care will assess you and decide on the best course of care.</p>
<p>They may admit you to hospital or decide you can go home.</p>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h3>Making a safety plan</h3>
  <p>If you struggle with suicidal thoughts or are supporting someone else, it may help to make a safety plan to use if you need it:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>the <a href="#">Staying Safe website</a> provides information on how to make a safety plan, including video tutorials and online templates to guide you through the process</li>
    <li>the mental health charity Mind also provide information on<a href="#"> planning for a mental health crisis</a></li>
  </ul>
</div>

    </div>




  </div>
  

  </div>
{% endblock %}
