<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Armed forces Healthcare
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
Mental health support for veterans
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find mental health information and support for veterans, non-mobilised reservists, families and carers.
    </p>

    <p>
      Mental health problems are common and can affect anyone, including veterans, serving personnel and their families. It is important to get help and support if you or someone you know is struggling with mental health.
    </p>


    <p>
      Some people delay getting help with their mental health for a number of reasons, such as trying to cope alone, fear of criticism, embarrassment or feeling that the NHS will not understand.
      </p>

      <p>
        There are many different ways to get help that take you and your situation into account. Finding the right support for you is important.
        </p>

        <h2>NHS mental health support</h2>

        <p>
          If you need support for a specific mental health condition, you can find information through our <a href="conditions2">A-Z of mental health conditions</a>.
          </p>

          <p>
            If you want help from a charity, you can:
            </p>

            <ul>
              <li>
                find local or specific mental health charities
                </li>
                <li>
                  get help from armed forces specific charities
                  </li>
              </ul>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="get-help-now2"
                ow2">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Get urgent help for mental health</span>
                </a>
              </div>

  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0 nhsuk-u-padding-top-5">



    <div class="nhsuk-grid-column-two-thirds">


  <h2>Op COURAGE: the Veterans Mental Health and Wellbeing Service</h2>

  <p>
Op COURAGE is an NHS mental health specialist service designed to help serving personnel due to leave the military, non-mobilised reservists, armed forces veterans and their families.    </p>

<p>
  It is a new overarching name for the following veterans mental health services, including:
  </p>

  <ul>
    <li>
      the Veterans' Mental Health Transition, Intervention and Liaison Service (TILS)
      </li>
      <li>
        the Veterans' Mental Health Complex Treatment Service (CTS)
        </li>
        <li>
          the Veterans' Mental Health High Intensity Service (HIS)
          </li>
    </ul>

    <h4>How Op COURAGE can help </h4>

    <p>
      Op COURAGE provides a range of help, support and treatments for service leavers and their families, including:
      </p>

      <ul>
        <li>
          working with Defence Medical Services (DMS) to provide mental health care and support as you transition from military to civilian life
          </li>
          <li>
            recognising and treating early signs of mental health problems
            </li>
            <li>
              treatment for more advanced mental health conditions and psychological trauma
              </li>
              <li>
                intensive emergency care and treatment if you’re in a crisis
                </li>
                <li>
                  helping you to access other NHS services if you need them, such as <a href="IAPT-start2">finding an NHS psychological therapies service (IAPT)</a> and eating disorder services
                  </li>
                  <li>
                    working with charities and local organisations to support your wider health and wellbeing needs, such as housing, relationships, finances, employment, drug and alcohol misuse and social support.
                    </li>
                    <li>
                      additional support for families affected by mental health problems, such as helping them access local services
                      </li>

        </ul>

        <h4> Who will I speak to?</h4>

<p>
  Everyone at Op COURAGE is either from the armed forces community or is experienced in working with serving personnel, reservists, veterans, and their families.
  </p>

  <p>
    They understand military life and the courage it takes to speak with someone. They will work with you to make sure you get the right type of specialist care, support and treatment.
    </p>

    <h4>Can I get help from Op COURAGE?</h4>

    <p>
      To receive help and support from Op COURAGE, you must:
      </p>

<ul>
  <li>
    be a resident in England and have served in the UK armed forces for a full day
    </li>
    <li>
      be registered with a GP practice in England or be willing and eligible to <a href="../../register-gp">register with a GP</a>
      </li>
      <li>
        provide your military service number
        </li>
  </ul>

  <p>
    It does not matter how long ago you left the armed forces. You can contact Op COURAGE even if you left many years ago.
    </p>

    <p>
      You can also contact Op COURAGE if you are still serving but have a discharge date.
      </p>

      <h4>Contacting Op COURAGE</h4>

      <p>
        You can contact the service in many ways, including:
        </p>

        <ul>
          <li>
            directly getting in touch yourself, or through a family member or friend
            </li>
            <li>
              asking a GP
              </li>
              <li>
                asking mental health charities, depending on your region
                </li>
          </ul>

          <p>

        The service will arrange for you to have an assessment, to make sure you get the right care and support.

            </p>

            <p>
              It is important to contact the Op COURAGE for your local area. This allows them to give you the best support they can provide.
              </p>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          North of England
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Call <a href=>0303 123 1145</a> or <a href >email ntawnt.veteransservice@nhs.net</a> The Op COURAGE urgent care and support service is accessible by healthcare referral only.</p>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          The Midlands and East of England
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Call <a>0300 323 0137</a> or email <a>mevs.mhm@nhs.net</a> (includes the Op COURAGE urgent care and support service for the Midlands, not the East of England).</p>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        London
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Call <a>020 3317 6818</a> or email <a>cim-tr.veteranstilservice-lse@nhs.net</a> (includes the Op COURAGE urgent care and support service).</p>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          South East England
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>For services in Sussex, Surrey or Kent, call <a>020 3317 6818</a> or email <a>cim-tr.veteranstilservice-lse@nhs.net</a>.</p>

<p>
For services in Hampshire, the Isle of Wight, Berkshire, Oxfordshire or Buckinghamshire, call <a>0300 365 2000</a> or email <a>gateway@berkshire.nhs.uk</a>.</p>

<p>

For the Op COURAGE urgent care and support service, call <a>02394 387 924</a> or email <a>snhs.veteranshis.se@nhs.net</a>.</p>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          South West England
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Call <a>0300 365 2000</a> or email <a>gateway@berkshire.nhs.uk.</a></p>

      </div>
    </details>




</div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds">

<h2>Veterans and Reserves Mental Health Programme</h2>

<p>
  The Veterans and Reserves Mental Health Programme is a Ministry of Defence (MoD) specialist service that provides mental health assessments and treatment advice for veterans and reservists.
  </p>

  <p>
    It works closely with the NHS and the Defence Medical Service (DMS) to provide appropriate treatment.
    </p>

    <p>
      You can usually only access this service if a GP refers you to it. Talk to a GP if you feel your time serving in the armed forces has affected your mental health.
      </p>

      <p>

      <a href="https://www.gov.uk/guidance/support-for-war-veterans#the-veterans-and-reserves-mental-health-programme">Find out more about the Veterans and Reserves Mental Health Programme</a></p>

      <h2>Combat Stress</h2>

      <p>
        If you need to talk to somebody, <a href="https://combatstress.org.uk/">Combat Stress</a> have a dedicated mental health support helpline for veterans and their families. This provides confidential advice and support and is free to call for veterans, family members and carers.
        </p>

        <p>
          This helpline is available 24 hours a day, 365 days a year on <a>0800 138 1619</a>.
          </p>

<h2>Togetherall</h2>

<p>
  Togetherall is a mental health support service providing anonymous, round-the-clock online support with trained counsellors.
  </p>

  <p>
    There's a supportive community and lots of free resources that all armed forces veterans and their families can use at any time.
    </p>

          </div>








<!-- End of content -->

{% endblock %}
