<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/feelings">Feelings, symptoms and behaviours</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-two/feelings">Feelings</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-two/feelings">Feelings</a></p>
        </div>
      </nav>
</div>
</div>
      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <!-- Change the page title here -->
      <h1>
       
        Grief after bereavement or loss
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

 
      <p class="nhsuk-body"><strong>Most people experience grief when they lose something or someone important to them. If these feelings are affecting your life, there are things you can try that may help.</p></strong>

      <p class="nhsuk-body">Support is also available if you're finding it hard to cope with stress, anxiety or depression.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you're not sure how you feel, try our <a href="#stuff/" title="Internal link">mood self-assessment</a>.</p>
      </div>
  
     
     <h2>Symptoms of bereavement, grief and loss</h2>
     <p>Bereavement, grief and loss can cause many different symptoms and they affect people in different ways. There's no right or wrong way to feel.</p>
     <p>As well as bereavement, there are other types of loss such as the end of a relationship or losing a job or home.</p>
     <p>Some of the most common symptoms include:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">
      <li>shock and numbness – this is usually the first reaction to loss, and people often talk about "being in a daze</li>
      <li>overwhelming sadness, with lots of crying</li>
      <li>tiredness or exhaustion</li>
      <li>anger – towards the person you've lost or the reason for your loss</li>
      <li>guilt – for example, guilt about feeling angry, about something you said or did not say, or not being able to stop your loved one dying</li>

     </ul>

     <p>These feelings may not be there all the time and powerful feelings may appear unexpectedly.</p>
     <p>It's not always easy to recognise when bereavement, grief or loss are the reason you're acting or feeling differently.</p>


      <details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details0">
      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
        <span class="nhsuk-details__summary-text">
        Stages of bereavement or grief
        </span>
      </summary>
      <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
    
      <p>Experts generally accept that we go through 4 stages of bereavement or grief: </p>
      <ol>
    <li>Accepting that your loss is real</li>
    <li>Experiencing the pain of grief</li>
    <li>Adjusting to life without the person or thing you have lost</li>
    <li>Putting less emotional energy into grieving and putting it into something new</li>
    </ol>
    <p>Most people go through all these stages, but you will not necessarily move smoothly from one to the next. </p>
      <p>Your grief might feel chaotic and out of control, but these feelings will eventually become less intense over time.</p>

        
      </div>
    </details>

    <h2>Things you can try to help with bereavement, grief and loss</h2>

    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">
        Do
      </h3>
      <ul class="nhsuk-list nhsuk-list--tick">
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          try talking about your feelings to a friend, family member, health professional or counsellor – you could also contact a support organisation such as <a href="#cruse">Cruse Bereavement Care</a> or <a href="Tel: 0808 808 1677">call: 0808 808 1677</a> 
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          try the <a href="#feel-better-and-happy/">6 ways to feel happier</a>, which are simple lifestyle changes to help you feel more in control and able to cope
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          find out about <a href="#how-to-get-to-sleep/">how to get to sleep</a> if you're struggling to sleep
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          consider peer support, where people use their experiences to help each other. <a href="#finding-peer-support/" title="External website">Find out more about peer support</a> on the Mind website
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          listen to <a href="#moodzone-mental-wellbeing-audio-guides/">free mental wellbeing audio guides</a>
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          search and download <a href="#app-mental-health/">relaxation and mindfulness apps</a> or <a href="#online-community/">online community apps</a> from the NHS Apps library
        </li>
        
      </ul>
    </div>
    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">
        Don’t
      </h3>
      <ul class="nhsuk-list nhsuk-list--cross">
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
            <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
          </svg>
          do not try to do everything at once – set small targets that you can easily achieve
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
            <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
          </svg>
          do not focus on the things you cannot change – focus your time and energy into helping yourself feel better
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
            <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
          </svg>
          try not to tell yourself that you're alone – most people feel grief after a loss and support is available
        </li>
        
        <li>
          <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
            <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
          </svg>
          try not to use alcohol, cigarettes, gambling or drugs to relieve grief – these can all contribute to poor mental health
        </li>
        
      </ul>
    </div>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <h3>Further information and support</h3>
    <p>You can find further information and support about:</p>
    <ul>
    <li><a href="#about-grief" title="External website">grief and bereavement</a> on the Cruse Bereavement Care website</li>
    <li><a href="#losing-your-partner-or-child-in-pregnancy/">losing your partner or child in pregnancy</a></li>
    <li><a href="#bereavement-by-suicide/" title="External website">losing someone to suicide</a> on the Mind website</li>
    </ul>
    <p>The GOV.UK website also has information about <a href="#overview" title="External website">what to do after someone dies</a>, such as registering the death and planning a funeral.</p>
    
    </div>


    <h2>Where to get NHS help for stress, anxiety or depression</h2>
    <h3>Referring yourself for therapy</h3>
    <p>If you need more support, you can get free psychological therapies such as <a href="">cognitive behavioural therapy (CBT)</a> on the NHS.</p>
    <p>You can refer yourself directly to a psychological therapies service without a referral from a GP.</p>
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="IAPT-start">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Find a psychological therapies service in your area</span>
      </a>
    </div>
    <div class="nhsuk-care-card nhsuk-care-card--primary">
      <div class="nhsuk-care-card__heading-container">
        <h3 class="nhsuk-care-card__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if:
          </span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content">
        
          <ul>
    <li>you're struggling to cope with stress, anxiety or a low mood</li>
    <li>you've had a low mood for more than 2 weeks</li>
    <li>things you're trying yourself are not helping</li>
    <li>you would prefer to get a referral from a GP</li>
    </ul>
    
        
        
          <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <h3>Coronavirus update: how to contact a GP</h3><p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p><ul><li>visit their website</li><li>use the <a href="#the-nhs-app/">NHS App</a></li><li>call them</li></ul><p><a href="#using-the-nhs-and-other-health-services/">Find out about using the NHS during coronavirus</a></p>
    </div>
    
        
      </div>
    </div>

    <div class="nhsuk-care-card nhsuk-care-card--urgent">
      <div class="nhsuk-care-card__heading-container">
        <h3 class="nhsuk-care-card__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call 111 or ask for an urgent GP appointment if:
          </span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content">
        
          <ul>
    <li>you need help urgently, but it's not an emergency</li>
    </ul>
    <p>111 can tell you the right place to get help if you need to see someone. Go to <a href="#111/">111.nhs.uk</a> or <a href="Tel: 111">call: 111</a></p>
    
        
        
      </div>
    </div>


    <div class="nhsuk-care-card nhsuk-care-card--immediate">
      <div class="nhsuk-care-card__heading-container">
        <h3 class="nhsuk-care-card__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&amp;E now if:
          </span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content">
        
          <ul>
    <li>you or someone you know needs immediate help</li>
    <li>you have seriously harmed yourself – for example, by taking a drug overdose </li>
    </ul>
    <p>A mental health emergency should be taken as seriously as a medical emergency.</p>
    <p><a href="#ae/">Find your nearest A&amp;E</a></p>
    
        
        
      </div>
    </div>


  </div>
</div>

<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>Related information</h2>
          <li><a href="low-mood">Low mood, sadness and depression</a></li>
          <li><a href="">Feeling lonely</a></li>
          <li><a href="">Returning to work after mental health issues</a></li>
      </ul>

      </div>
      </div>

     <!-- End of content -->
  
{% endblock %}
