<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/cyp">Children, teenager and young adult's mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-two/yp">Help for young adults and students</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-two/yp">Help for young adults and students</a></p>
        </div>
      </nav>
</div>
</div>
      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <!-- Change the page title here -->
      <h1>
        Counselling for student mental health problems
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

 
      <p class="nhsuk-body"><strong>
        Mental health problems are as common among students as they are in the general population.</p></strong>

     <p>But it&#x27;s not just students with a diagnosed mental health condition who can benefit from counselling.</p>
     <p>Anyone who has new challenges as a student could benefit from talking to someone. This includes if you have:</p>
     <ul><li>friend, family or relationship issues</li>
      <li>low mood or losing interest in things you enjoy</li>
      <li>stress or anxiety about your work or anything else</li>
    </ul>
    <p>Counselling can help you understand these issues and suggest strategies for dealing with your feelings.</p>
    
    <h2><b>Where to go for help</b></h2>
    <h3><b>Talk to someone</b></h3>
    <p>It&#x27;s important to tell someone how you feel as this may bring an immediate sense of relief.</p>
    <p>You could speak to a:</p>
    <ul><li>friend</li>
      <li>member of your family</li>
      <li>university tutor</li>
      <li>counsellor</li>
      <li>doctor</li></ul>
      <p>A tutor may also be able to help you get in touch with university or other counselling services.</p>
      
      <h3><b>University counselling services</b></h3>
      <p>Many colleges and most universities have a free and confidential in-house counselling service you can access, with professionally qualified counsellors and psychotherapists.</p>
      <p>You can usually find out what they offer and how to make an appointment in the counselling service section of your university&#x27;s website. This free service in universities is available to both undergraduates and postgraduates.</p>
      <p>Many universities also have a <a href="javascript:void(0)">mental health adviser</a> who can help you access the support you need.</p>
      <p>As well as counselling or therapy, you may also be entitled to &quot;reasonable adjustments&quot; such as extra time in exams, extensions on coursework, and specialist mental health mentor support.</p>
      
      <h3><b>Student-led services</b></h3>
      <p>Many student unions also offer student-led services. Although the students involved are not qualified counsellors, you may prefer to talk about problems such as stress and depression with another student.</p>
      <p><a href="javascript:void(0)">Student Minds</a> is the UK&#x27;s student mental health charity.</p>
      <p>Individual universities also usually have <a href="https://www.nightline.ac.uk/want-to-talk/">student night line services</a>.</p>
      <h3><b>Online self-help</b></h3>
      <p>There are also online self-help services you can explore, such as:</p>
      <ul><li><a href="../mental-health">mental health and wellbeing</a> information</li>
        <li>the <a href="javascript:void(0)">Students Against Depression</a> website</li>
      </ul>
      <h3>Therapy and counselling</h3>
      <p><a href="javascript:void(0)">Counselling</a> and <a href="javascript:void(0)">cognitive behavioural therapy (CBT)</a> offer an opportunity to explore your feelings in a safe environment and help you develop ways of coping with them.</p>
      <p>As well as university or college counselling services, you might be able to refer yourself for NHS counselling. Search for <a href="javascript:void(0)">psychological therapy services</a> to find out what&#x27;s available in your area.</p>
      <p>The <a href="javascript:void(0)">University Mental Health Advisers Network (UMHAN)</a> represents the network of mental health advisers working in higher education dedicated to providing practical support to students experiencing mental health difficulties.</p>
      <h2><b>Disabled Students&#x27; Allowance (DSA)</b></h2>
      <p>At all UK universities, you have the opportunity to apply for a <a href="javascript:void(0)">Disabled Students&#x27; Allowance (DSA)</a>.</p>
      <p>Your mental health adviser can help you apply for the DSA, but you will need to provide evidence of a long-term mental health condition.</p>
      <p>The DSA pays for:</p>
      <ul><li>specialist equipment, such as a computer, if you need it because of your mental health condition or another disability</li>
        <li>non-medical helpers</li><li>extra travel as a result of your mental health condition or disability</li>
        <li>other disability-related costs of studying</li></ul>
        <p>Even if you decide not to apply for a DSA, a mental health adviser will still be able to let you know what support is available.</p>
        <h2><b>Drugs, drink and mental health in students</b></h2>
        <p>Sometimes people use alcohol and drugs to cope with difficult feelings. But underlying mental health problems could be made worse by drugs or alcohol.</p>
        <p>You could be misusing alcohol if:</p>
        <ul><li>you feel you should cut down on alcohol</li>
          <li>other people have been criticising your drinking</li>
          <li>you feel guilty or bad about your drinking</li>
          <li>you need a drink first thing in the morning to steady your nerves or get rid of a <a href="javascript:void(0)">hangover</a></li>
        </ul>
        <p>If you&#x27;re concerned about your drinking or drug use, a good first step is to see a GP. They&#x27;ll be able to discuss the services and treatments available.</p>
        <p>As well as the NHS, there are a number of charities and support groups across the UK that provide support and advice for people with an alcohol misuse problem.</p>
        <p><a href="javascript:void(0)">See a full list of alcohol charities and support groups</a></p>
        <p>If you&#x27;re not comfortable talking to a GP or someone you know about drug misuse, you can also approach a local drug treatment service yourself.</p>
        <p>Visit the FRANK website to <a href="javascript:void(0)">find local drug treatment services</a>.</p>



<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>Related information</h2>
          <li><a href="student-stress"></a></li>
          <li><a href="../level-two/therapy">Talking therapies</a></li>
          <li><a href="low-mood">Low mood, sadness and depression</a></li>
      </ul>

      </div>
      </div>

     <!-- End of content -->
  
{% endblock %}
