<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia-symp.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../check-symptom">Check a symptom</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../check-symptom.html">Check a symptom</a></p>
        </div>
      </nav>

      

      <!-- Change the page title here -->
      <h1>
       Symptoms that affect the wrists, hands or fingers
      
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <ul class="key-links">
        <li><a href="javascript:void(0);">Elbow and arm pain</a></li>
        <li><a href="javascript:void(0);">Shoulder pain</a></li>
        <li><a href="../pages/self-harm">Self-harm</a></li>
        <li><a href="javascript:void(0);">Hand pain</a></li>
        <li><a href="javascript:void(0);">Nail problems</a></li>
        <li><a href="javascript:void(0);">Thumb pain</a></li>
        <li><a href="javascript:void(0);">Finger pain</a></li>
        <li><a href="javascript:void(0);">Tremor or shaking hands</a></li>
       
      </ul>

      

  </div>

</div>
     <!-- End of content -->
  
{% endblock %}
