<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
       Mental health
      
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Find information and support for your mental health.
      </p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="level-one/get-help-now">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Get urgent help now for mental health</span>
        </a>
      </div>

      </div>
  </div>

      <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-bottom-4 nhsuk-u-padding-top-2">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="../v1/pages/iapt-start">
                    <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Refer yourself to an NHS psychological therapies service (IAPT)</h3>
                </div>
        </a>


            </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="#quiz/">
                    <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Depression and anxiety self-assessment quiz</h3>
                </div>
        </a>


            </div>
        </div>
      </div>


      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="level-one/feelings">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Feelings, symptoms and behaviours</h3>
                      <p class="nhsuk-promo__description">Read about common feelings and symptoms such as stress, anxiety or a low mood.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="level-one/conditions">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Mental health conditions</h3>
                      <p class="nhsuk-promo__description">Read about specific mental health conditions, such as clinical depression, bipolar disorder or OCD.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

      </div>

      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="level-one/life-events">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Advice for life situations and events</h3>
                      <p class="nhsuk-promo__description">Advice for you and people you support about mental health in life situations and events, such as pregnancy and bullying at work.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Self-help</h3>
                      <p class="nhsuk-promo__description">Read about different types of self-help, such as 5 steps to mental wellbeing and breathing exercises.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

     

    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="level-one/services">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">NHS, voluntary and charity services</h3>
                      <p class="nhsuk-promo__description">Read information and support about NHS, charity and voluntary mental health services and how to access them. </p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="level-one/cyp">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Children and young people's mental health</h3>
                      <p class="nhsuk-promo__description">Read advice and support about mental health for children, teenagers, students and parents.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

     

    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="level-one/treatment">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Talking therapies, medicine and other treatments</h3>
                      <p class="nhsuk-promo__description">Read about different types of talking therapy and other treatments, such as medicine for mental health problems.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Social care and your rights</h3>
                      <p class="nhsuk-promo__description">Read advice and support about being a carer, receiving social care help, and your mental health rights.</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"></circle>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"></path>
                        </g>
                      </svg>
                    </div>
                  </a>
            </div>
        </div>

     

    </div>

    <div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <ul class="key-links">
            <h2>Related information</h2>
            <li><a href="">Autism</a></li>
            <li><a href="">Addiction</a></li>
        </ul>

        </div>
        </div>

     <!-- End of content -->
  
{% endblock %}
