<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Armed forces Healthcare
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
Mental health support for serving personnel
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find mental health information and support for serving personnel, mobilised reservists and families.
    </p>

    <p>
      Mental health problems are common and can affect anyone, including serving personnel, mobilised reservists and their families. It is important to get help and support if you or someone you know is struggling with mental health.
      </p>

    <p>
      Some people delay getting help with their mental health for a number of reasons, such as trying to cope alone, fear of criticism, embarrassment or feeling that the NHS will not understand.
      </p>

      <p>
        There are many different ways to get help that take you and your situation into account. Finding the right support for you is important.
        </p>

        <h2>NHS mental health support</h2>

        <p>
          If you need support for a specific mental health condition, you can find information through our <a href="">A-Z of mental health conditions</a>.
          </p>

          <p>
            If you want help from a charity, you can:
            </p>

            <ul>
              <li>
                find local or specific mental health charities
                </li>
                <li>
                  get help from armed forces specific charities
                  </li>
              </ul>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="get-help-np
                ow2">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Get urgent help for mental health</span>
                </a>
              </div>




  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class=" nhsuk-promo-group nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2">
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
      <div class="nhsuk-promo--small">
          <a class="nhsuk-promo__link-wrapper" href="level-one/get-help-now">
              <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Get urgent help now for mental health</h3>
          </div>
  </a>


      </div>
  </div>
  </div>


    <div class="nhsuk-grid-column-two-thirds">


<h2>Serving personnel mental health services</h2>

<p>
  All serving personnel and mobilised reservists receive mental health treatment and care from military mental health professionals no matter where you are based.
  </p>

  <h3>Specialist mental health services</h3>

  <p>
    If you need them, military healthcare professionals may refer you to specialist mental health services. These services are all specially commissioned by the MoD.
    </p>

    <p>
      The priority of all specialist mental health services is to return you to your regular armed forces work as quickly and safely as possible.
      </p>

      <h4>Departments of Community Mental Health (DCMH)</h4>

      <p>
        Departments of Community Mental Health (DCMH) offer specialist outpatient mental health care in the UK. These are military centres dedicated to treating serving personnel military health problems.
        </p>

        <p>
          Smaller DCMH centres are also available overseas.
          </p>

          <h4>Inpatient specialist support</h4>

          <p>
            Specialist inpatient mental health care services for serving personnel are provided by several NHS trusts across the country.
            </p>

            <p>
              Service personnel are assessed, stabilised and treated in hospitals as close to their home or parent unit as possible.
              </p>

              <h3>Combat Stress helpline for serving personnel</h3>

              <p>
                If you need to talk to somebody, <a href="https://combatstress.org.uk/">Combat Stress</a> have a dedicated mental health support helpline for serving personnel and their families. This provides confidential advice and support and is free to call for serving personnel, family members and carers.
                </p>

                <p>
                  This helpline is available 24 hours a day, 365 days a year on 0800 323 4444.
                  </p>

                  <h3>Togetherall</h3>

                  <p>
                    Togetherall is a mental health support service providing anonymous, round-the-clock online support with trained counsellors.
                    </p>

                    <p>
                      There's a supportive community and lots of free resources that all armed forces serving personnel and their families can use at any time.
                      </p>

                  

<!-- End of content -->

{% endblock %}
