<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/conditions">Mental health conditions</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-one/conditions">Mental health conditions</a></p>
        </div>
      </nav>

      

      <!-- Change the page title here -->
      <h1>
      Symptoms - clinical depression
       
      
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">The symptoms of depression can be complex and vary widely between people. If you're depressed, you may feel sad, hopeless and lose interest in things you used to enjoy.</p>
     
      <p>The symptoms persist for weeks or months and are bad enough to interfere with your work, social life and family life. </p>
      <p>There are many other symptoms of depression and you're unlikely to have all of those listed on this page.</p>

      <h2>Psychological symptoms</h2>
<p>The psychological symptoms of depression include:</p>
<ul>
<li>continuous low mood or sadness </li>
<li>feeling hopeless and helpless </li>
<li>having low self-esteem  </li>
<li>feeling tearful </li>
<li>feeling guilt-ridden </li>
<li>feeling irritable and intolerant of others  </li>
<li>having no motivation or interest in things </li>
<li>finding it difficult to make decisions </li>
<li>not getting any enjoyment out of life </li>
<li>feeling <a href="anxiety-fear-panic">anxious or worried</a>  </li>
<li>having <a href="suicide">suicidal thoughts</a> or thoughts of <a href="self-harm">harming yourself</a></li>
</ul>

      
<h2>Physical symptoms</h2>
<p>The physical symptoms of depression include:</p>
<ul>
<li>moving or speaking more slowly than usual  </li>
<li>changes in appetite or weight (usually decreased, but sometimes increased)  </li>
<li><a href="javascript:void(0)">constipation</a>  </li> 
<li>unexplained aches and pains </li>
<li>lack of energy </li>
<li>low sex drive (<a href="javascript:void(0)">loss of libido</a>) </li>
<li>changes to your <a href="javascript:void(0)">menstrual cycle</a></li>
<li>disturbed sleep – for example, finding it difficult to fall asleep at night or waking up very early in the morning</li>
</ul>

<h2>Social symptoms</h2>
<p>The social symptoms of depression include:</p>
<ul>
<li>avoiding contact with friends and taking part in fewer social activities </li>
<li>neglecting your hobbies and interests </li>
<li>having difficulties in your home, work or family life</li>
</ul>

      
<h2>Severities of depression</h2>
<p>Depression can often come on gradually, so it can be difficult to notice something is wrong. Many people try to cope with their symptoms without realising they're unwell. It can sometimes take a friend or family member to suggest something is wrong.</p>
<p>Doctors describe depression by how serious it is:</p>
<ul>
<li>mild depression – has some impact on your daily life </li>
<li>moderate depression – has a significant impact on your daily life </li>
<li>severe depression – makes it almost impossible to get through daily life; a few people with severe depression may have <a href="javascript:void(0)">psychotic symptoms</a></li>
</ul>

<h2>Grief and depression</h2>
<p>It can be difficult to distinguish between grief and depression. They share many of the same characteristics, but there are important differences between them.</p>
<p>Grief is an entirely natural response to a loss, while depression is an illness.</p>
<p>People who are grieving find their feelings of sadness and loss come and go, but they're still able to enjoy things and look forward to the future. </p>
<p>In contrast, people who are depressed constantly feel sad. They find it difficult to enjoy anything or be positive about the future.</p>
<p><a href="grief">Read more about coping with grief and bereavement</a></p>


<h2>Other types of depression</h2>
<p>There are different types of depression, and some conditions where depression may be one of the symptoms. These include:</p>
<ul>
<li><a href="javascript:void(0)">postnatal depression</a> – sometimes new mothers, fathers or partners develop depression after they have a baby; this is known as postnatal depression and it's treated in a similar way to other types of depression, with talking therapies and antidepressant medicines </li>
<li><a href="javascript:void(0)">bipolar disorder</a> – also known as "manic depression", in bipolar disorder there are spells of both depression and excessively high mood (mania); the depression symptoms are similar to clinical depression, but the bouts of mania can include harmful behaviour, such as gambling, going on spending sprees and having unsafe sex  </li>
<li><a href="javascript:void(0)">seasonal affective disorder (SAD)</a> – also known as "winter depression", SAD is a type of depression with a seasonal pattern usually related to winter </li>
</ul>
<p><a href="javascript:void(0)">Read more about diagnosing depression</a></p>

<h2>When to seek help</h2>
<p>See a GP if you experience symptoms of depression for most of the day, every day, for more than 2 weeks.</p>
<p>A low mood may improve after a short time.</p>
<p><a href="low-mood">Read more about low mood and depression</a></p>


  

      

  </div>

</div>

<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
   
    <nav class="nhsuk-contents-list nhsuk-u-padding-top-9" role="navigation" aria-label="Pages in this guide">
      <h2 class="">More in <a href="clinical-depression">clinical depression</a></h2>
      <ul class="nhsuk-list app-side-nav__list">

        <li class="app-side-nav__item">
          <a class="app-side-nav__link" href="clinical-depression">
           Overview
          </a>
        </li>
        <li class="app-side-nav__item app-side-nav__item--current">
          
            Symptoms
         
        </li>
        <li class="app-side-nav__item">
          <a class="app-side-nav__link" href="javascript:void(0)">
            Causes
          </a>
        </li>
        <li class="app-side-nav__item">
          <a class="app-side-nav__link" href="javascript:void(0)">
            Diagnosis
          </a>
        </li>
        <li class="app-side-nav__item">
          <a class="app-side-nav__link" href="javascript:void(0)">
            Treatment
          </a>
        </li>
        <li class="app-side-nav__item">
          <a class="app-side-nav__link" href="javascript:void(0)">
            Living with
          </a>
        </li>
        <li class="app-side-nav__item">
          <a class="app-side-nav__link" href="javascript:void(0)">
            Psychotic depression
          </a>
        </li>
       

        

      </ul>
    </nav>

      </div>
      </div>
     <!-- End of content -->
  
{% endblock %}
