<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/cyp">Children and young people's mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-two/advice-for-parents">Advice for parents</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-two/advice-for-parents">Advice for parents</a></p>
        </div>
      </nav>
</div>
</div>
      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <!-- Change the page title here -->
      <h1>
       
        Teen aggression and arguments
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

 
      <p class="nhsuk-body"><strong>
        
    Find out how to cope with heated arguments with your teenager, and what to do if they become violent.</p></strong>

      <p class="nhsuk-body">This page covers:</p>
        <p>How to defuse arguments with your teen</p>
        <p>How to deal with violent behaviour</p>
        <p>Concerned about mental health issues?</p>
        <p>Help and support</p>

     <h2>How to defuse arguments with your teen</h2>
     <p>It's useful to remember that your own behaviour can improve or worsen an aggressive situation, so it's important to be a good role model for your teen.</p>
  
     <p>If you act aggressively but tell your teenager not to, they will not listen. It's also helpful to remember that their anger is often based on fear that they're losing control.</p>
     <p>Try these tips:</p>
     <ul>
       
       <li>try to maintain a calm and peaceful presence – you need to be strong without being threatening</li>
       <li>make sure your body language reflects your willingness to listen</li>
       <li>avoid staring them in the eye and give them personal space</li>
       <li>if an argument feels out of control, explain to your teen that you are going to walk away and come back again in half an hour in order for things to calm down</li>
     </ul>


     <p><a href="javascript:void(0)">Breathing exercises</a> can help take the intensity out of an argument. Take a deep breath, hold for a few seconds and then exhale. Repeat 5 times.</p>
     <p>When your teen is calm, suggest this technique to them so they, too, have a way of controlling their anger.</p>
      <p>Remember that teens may not know how to handle their anger, and this can leave them frustrated and frightened.</p>
      <p>However, as with toddlers, if you give in to teenagers because their shouting and screaming intimidates or baffles you, you are in effect encouraging them to repeat the unreasonable behaviour as a way of getting what they want.</p>
     

    <h2>How to deal with violent behaviour</h2>
      <p>Sometimes, teen aggression can turn into violence. If they lash out at you, or someone or something else, put safety first.</p>
      <p>Let your teenager know that violence is unacceptable and you will walk away from them until they've calmed down. If leaving the room or house is not helping, call the police. After all, if you feel threatened or scared, then you have the right to protect yourself.</p>
      <p><a href="">Family Lives</a> offers this advice for coping with, and helping, a violent teen:</p>
      
      <ul>
        <li><b>give them space</b> – once they have calmed down, you may want to talk to them about what has happened and suggest that they let you find them some help</li>
        <li><b>be clear</b> – teenagers need to know that you will stand by the boundaries you set. They need to know that any kind of violence is unacceptable</li>
        <li><b>talk to their school</b> – find out if their aggressive behaviour is happening there as well. Some schools offer counselling</li>
        <li><b>avoid using violence towards your teen</b> – this sets a positive example that violence is not OK</li>
        <li><b>arrange counselling</b> – if your teen admits they have a problem and is willing to get help, book an appointment with a counsellor or psychologist as soon as possible. Speak to a GP or their school about what help is available</li>
      </ul>
    

    <h2>Concerned about mental health issues?</h2>
      <p>If you're worried that your teen has a mental health problem such as <a href="low-mood">depression</a>, talk to a GP. They can refer them to the Child and Adolescent Mental Health Services, who in turn can refer all or some of you for Family Therapy.</p>
      <p>You can also contact the <a href="javascript:void(0)"></a>Young Minds Parents Helpline</a> on 0808 802 5544 (9.30am to 4pm Monday to Friday) for advice and support concerning mental health issues in young people.</p>
      <p>If you are having trouble coping with your teenager, and you suspect you may have symptoms of depression or other mental health problems, discuss this with a GP. They can then suggest suitable treatment.</p>
      <p>You may, for example, be referred for counselling, or directed to support groups or other services in your area.</p>
      <p>Read more about the benefits of <a href="javascript:void(0)">talking treatments</a>.</p>

      <h2>Help and support</h2>
      <p>There are many organisations that offer emotional support and practical advice to you and your teen. At such an important development stage, it's important that teens learn how to communicate well and express anger in a healthy way.</p>
      <ul><li>call <a href="javascript:void(0)">Family Lives</a> on 0808 800 2222 (9am to 9pm Monday to Friday, 10am to 3pm Saturday to Sunday). The charity also offers online parenting courses</li>
        <li>you can call the <a href="javascript:void(0)">Samaritans</a> on 116 123 any time to talk about any type of distress and to get confidential support and advice; or you can email <a href="javascript:void(0)">jo@samaritans.org</a></li>
        <li><a href="javascript:void(0)">Youth Access</a> has details about youth organisations and services offering teens counselling, advice and support</li>
        <li>the charity Young Minds supports children and young people with mental health and anger issues, and their parents. If you discuss your child's behaviour with them and they are open to getting help, you might like to direct them to the information on the <a href="javascript:void(0)">Young Minds</a> website</li>
      </ul>


<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>Related information</h2>
          <li><a href="worried-teen">Worried about your teenager?</a></li>
          <li><a href="coping-teen">Coping with your teenager</a></li>
          <li><a href="low-mood">Low mood, sadness and depression</a></li>
      </ul>

      </div>
      </div>

     <!-- End of content -->
  
{% endblock %}
