<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/cyp">Children and young people's mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-two/advice-for-parents">Advice for parents</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-two/advice-for-parents">Advice for parents</a></p>
        </div>
      </nav>
</div>
</div>
      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <!-- Change the page title here -->
      <h1>
       
        Worried about your teenager?
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

 
      <p class="nhsuk-body"><strong>
        It can be difficult for parents to tell whether their teenagers are just &quot;being teens&quot; or if there is something more serious going on.</p></strong>

      <p>Many of the things you may notice, such as changing moods, can often be attributed to normal teenage behaviour. However, it can be helpful to know when there may be signs of a more serious problem.</p>
      <p>If you’re worried about your teenager’s behaviour or general wellbeing you should consider:</p>
      <ul><li>speaking to your teenager about your worries</li>
        <li>getting advice from a GP</li>
      </ul>
      <p>It’s important to know that many parents and carers find teenage behaviour difficult to understand or challenging to cope with.</p>
      <p>Read more about <a href="coping-teen">coping with your teenager</a>.</p>
      
      <h2>Depression in teenagers</h2>
      <p>Noticeable symptoms of depression in teenagers can include:</p>
      
      <ul><li>continuous low mood or sadness as well as frequent tearfulness</li>
        <li>voicing/showing feelings of hopelessness and helplessness</li>
        <li>being irritable and intolerant of others</li>
        <li>little or no enjoyment of things that were once interesting to them</li>
        <li>increasing social isolation</li>
        <li>disturbed sleep patterns (for example, problems going to sleep and/or waking throughout the night)</li>
      </ul>
      <p>Read more about <a href="../level-two/depression">depression</a>.</p>

      <h2>Teenage eating disorders</h2>
      <p>The most common eating disorders include <a href="anorexia">anorexia</a>, <a href="javascript:void(0)">bulimia</a>, <a href="/conditions/binge-eating/">binge eating</a> and other specified feeding or eating disorder (OFSED).</p>
      <p>OFSED, when symptoms do not exactly match those of anorexia, bulimia or binge eating disorder, can be just as serious. Some children and young people may experience avoidant/restrictive food intake disorder (ARFID).</p>
      <p>Signs of eating disorders can include:</p>
      <ul>
        <li>complaining about being fat, even though they are a normal weight or are underweight</li>
        <li>letting people around them think they have eaten when they have not</li>
        <li>being secretive about their eating habits</li>
        <li>becoming anxious, upset or guilty when asked to eat</li>
        <li>vomiting, or using laxatives in order to lose weight</li>
      </ul>
      <p>Read more about <a href="../level-two/eating-problems">eating disorders</a>.</p>
      <p><a href="javascript:void(0)">Get advice if you have a child with an eating disorder</a></p>
      
      <h2>Teenagers who self-harm</h2>
      <p>If you suspect that your teenager is self-harming, look out for any of the following signs:</p>
      <ul>
        <li>unexplained cuts, bruises or cigarette burns, usually on their wrists, arms, thighs and chest</li>
        <li>keeping themselves fully covered at all times, even in hot weather</li>
        <li>signs of depression, such as low mood, tearfulness, a lack of interest in everything</li>
        <li>signs of <a href="javascript:void(0)">low self-esteem</a>, such as blaming themselves for any problems or thinking they are not good enough</li>
        <li>signs they have been pulling out their hair</li></ul>
        <p>Read more about <a href="self-harm">self-harm</a> and if needed, <a href="where-to-get-urgent">where to get urgent help for mental health</a>.</p>
        <p>MindEd for families has more information about <a href="javascript:void(0)">what to do in a crisis</a>.</p>
        
        <h2>Teenagers who take drugs</h2>
        <p>Signs that your teenager is taking drugs can include:</p>
        <ul>
          <li>losing interest in hobbies, sports or other favourite activities</li>
          <li>dramatic changes in behaviour</li>
          <li>excessive tiredness and lack of appetite</li>
          <li>dilated pupils, red eyes, bad skin</li>
          <li>stealing money from you</li></ul>
          
          <p>Find out more about <a href="javascript:void(0)">drug use and getting help</a>.</p>
          
          <h2>How can I help my teenager?</h2>
          <p>If you&#x27;re worried about your teenager and they refuse to talk to you, you may need to open up other channels of communication.</p>
          <p>Avoid persistent direct questioning as this can make them feel threatened.</p>
          <p>Try these tips to encourage your teenager to open up if there is a problem:</p>
          <ul>
            <li>be honest and explain that you&#x27;re worried that they&#x27;re going through something difficult</li>
            <li>point them towards websites or helplines that can give them information on depression, drugs and self-harm so they can find out the facts themselves</li>
            <li>do not blame yourself for any problems they&#x27;re having and try not to take it personally – this will not help the situation</li>
            <li>tell them you&#x27;ll be there for them when they do want to talk</li><li>let them choose where to go for help, which may be a GP, a family friend or school counsellor</li>
            <li>help your teenager think for themselves – encourage them to think through the pros and cons of their behaviour, remind them what they’re good at and what you like about them, and help them think critically about what they see and hear</li>
          </ul><p>For more helpful tips, see <a href="javascript:void(0)">Talking to your teenager.</a></p>
          
          <h3>More information and support</h3>
          <p>If you&#x27;re concerned about the physical or mental health of your child or young person it may be a good idea to speak to a GP.</p>
          <p>You can also read more about <a href="javascript:void(0)">children and young people&#x27;s mental health services (CYPMHS)</a>.</p>
          <p>There are also several organisations that provide emotional support and practical advice for both your teenager and yourself:</p>
          <ul><li><a href="javascript:void(0)">Family Lives</a> is a charity specialising in families. You can call their confidential helpline on 0808 800 2222 (9am to 9pm Monday to Friday, 10am to 3pm Saturday to Sunday). You can also visit their <a href="javascript:void(0)">forums</a></li>
            <li><a href="javascript:void(0)">Young Minds</a>, the mental health charity, has a dedicated, confidential helpline. Call them on 0808 802 5544 (9.30am to 4pm Monday to Friday)</li>
            <li><a href="javascript:void(0)">Relate</a> offers relationship advice and counselling. You can also use <a href="javascript:void(0)">Live Chat</a> to talk to a counsellor</li>
            <li><a href="javascript:void(0)">FRANK</a>, the drugs charity, has comprehensive information about drugs. You can also call their helpline on 0300 123 6600 (available 24/7)</li></ul>
      


<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>Related information</h2>
          <li><a href="teen-aggression">Teen aggression and arguments</a></li>
          <li><a href="coping-teen">Coping with your teenager</a></li>
          <li><a href="../level-two/therapy">Talking therapies</a></li>
      </ul>

      </div>
      </div>

     <!-- End of content -->
  
{% endblock %}
