<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Support for armed forces families
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
Support for armed forces families
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find information and support for families of serving personnel, service leavers and veterans.     </p>

    <p>
If you are a family member of someone who is or was in the armed forces, there are many ways you can get support if you need it. This includes dedicated services and charities who provide support and advice to help you manage any issues caused by armed forces life.
      </p>

      <p>
It is important to know you will not be turned away by those who can give you the support you need, and any concerns you have will not be rejected.
        </p>

        <p>
If you are a family member looking to find services or support dedicated to helping a serving personnel, reservist or veteran in your family, you can find more information including:
          </p>

          <ul>
            <li>
              <a href="serving-personnel">
              Healthcare for armed forces serving personnel
              </a></li>
              <li>
                <a href="../level-3/mental-health-serving-personnel">
                Mental health support for serving personnel
                </a></li>
                <li><a href="veterans">
                  Healthcare for armed forces veterans
                  </a></li>
                  <li><a href="../level-3/mental-health-veterans">
                    Mental health support for veterans
                    </a></li>
            </ul>



</div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

  <h2>The Armed Forces Covenant</h2>

<p>
  If you have problems accessing or receiving care due to being an armed forces family member, the <a href="https://www.armedforcescovenant.gov.uk/">Armed Forces Covenant</a> can help.
  </p>

  <p>
    The Armed Forces Covenant aims to remove disadvantages so you and your family can receive healthcare fairly. They can support you through several issues, including:
    </p>

    <ul>
      <li>
        access to healthcare
        </li>
        <li>
          education and family well-being
          </li>
          <li>
            having a home
            </li>
            <li>
              starting a new career
              </li>
              <li>
                financial assistance
                </li>
                <li>
                  accessing discounted services
                  </li>
      </ul>

      <p>
        The Armed Forces Covenant works with services, charities and organisations to make sure you get the support you need. This includes the Navy, Army and RAF welfare support organisations and information services.
        </p>

        <p style="margin-bottom:0px;">
          <a href="https://www.armedforcescovenant.gov.uk/support-and-advice/families/">Armed Forces Covenant: Support and advice for families</a>
          </p>

          <p>
            www.armedforcescovenant.gov.uk
            </p>

          <h2>Welfare support for families</h2>

          <p>
            If you have concerns or issues caused by armed forces life, it is important to find support sooner rather than later.
            </p>

            <p>
              As well as the Armed Forces Covenant, there are a number of organisations who provide advice and support to help you through any problems or questions you and your family might have.
              </p>

              <h3>Families Federations</h3>

                <p>
                  The 3 Service Families Federations offer independent and confidential advice on a range of issues. They work to improve the quality of life for all service families.
                  </p>

                  <p>
                    They regularly engage with the chain of command, local authorities and government to represent the views of armed forces families.
                    </p>

                    <p>
                      Each of the 3 services has its own Welfare Support and Information Service Teams and <a href="https://dmws.org.uk/">Defence Medical Welfare Service (DMWS)</a>.
                      </p>

                      <p>
                        For more information about:
                        </p>

                        <ul>
                          <li><a href="https://nff.org.uk/">
                            Naval Families Federation
                          </a>  </li>
                            <li><a href="https://aff.org.uk/">
                              Army Families Federation
                              </a></li>
                              <li><a href="https://www.raf-ff.org.uk/">
                                Royal Air Force Families Federation
                                </a></li>

                        </ul>

                        <h3>Defence Medical Welfare Services (DMWS)</h3>

                        <p>
                          The DMWS is a charity that works for the MoD.
                          </p>

                          <p>
                            They work with other charities to provide practical and emotional support to serving personnel, veterans and their families when they're in hospital, rehabilitation or recovery centres.
                            </p>

                            <p style="margin-bottom:0px;">
                              <a href="https://dmws.org.uk/">Find more information on the DMWS website</a>
                              </p>

                              <p>
                                www.dmws.org.uk
                                </p>

                              <h2>Accessing healthcare for armed forces families</h2>

                              <p>
                                When based in the UK, most families of serving personnel and veterans access and receive their healthcare through the NHS. This will usually involve the same steps that non-armed forces families would take, such as registering with a GP and dentist.
                                </p>

                                <h3>Register as an armed forces family member at a GP</h3>

                                <p>
                                  You can ask a GP to register you as an armed forces family member on your medical records. They do this by adding a specific code representing armed forces families.
                                  </p>

                                  <p>
                                    This means NHS staff who use your medical records to provide you with care and treatment are more likely to be aware of your situation and can refer you to specialist care if you need it.
                                    </p>

                                    <h3>Register your child at a GP if you are not registered</h3>

                                    <p>
                                      Parents must usually register their child at a GP surgery where at least one parent or carer is registered.
                                      </p>

                                      <p>
                                        If you are not registered with a GP surgery due to receiving care through the Defence Medical Services (DMS), you can register your child alone with a GP surgery.
                                        </p>

                                <h3>Healthcare for serving personnel families overseas</h3>

                                <p>
                                  If you are overseas due to the posting of a family member, you will receive fair access to healthcare as the Armed Forces Covenant still applies to you.
                                  </p>

                                  <p>
                                    The availability of health and support services can vary depending on your location. The MoD will ensure that all essential services are available to you when you move to another overseas location, including health and education.
                                    </p>

                                    <p>
                                      You may receive your primary care services from Defence Primary Healthcare (DPHC) medical centres.
                                      </p>

                                      <p>
                                        When you return to the UK, you will need to use regular NHS services. It is important to register your family with a GP or dentist if you have not already.
                                        </p>

                                        <h3>Accessing healthcare when moving</h3>

                                        <p>
                                          If you are moving due to serving personnel postings, it is important to inform any healthcare services you or your family use.
                                          </p>

                                          <p>
                                            This may include:
                                            </p>

                                            <ul>
                                              <li>
                                                your GP surgery
                                                </li>
                                                <li>
                                                  health visitors
                                                  </li>
                                                  <li>
                                                    dentists
                                                    </li>
                                                    <li>
                                                      school nurses
                                                      </li>
                                                      <li>
                                                        any other local health services you use
                                                        </li>
                                              </ul>

                                              <p>
                                                You may also need to register to new services closer to where you are moving, such as a new GP surgery or dentist.
                                                </p>

                                                <p>
                                                  This allows the healthcare services to transfer any medical records quickly so you can continue to receive care and support as soon as possible after moving.
                                                  </p>

                                                  <p>
                                                    If you move home due to a posting in the UK, it is normal for you to keep your place on any NHS waiting lists you are currently on.
                                                    </p>

                                                    <h3>Get support for problems</h3>

                                                    <p>
                                                      If you have any problems getting the healthcare you need, there are many ways you can get help. This includes:
                                                      </p>

                                                      <ul>
                                                        <li><a href="https://aff.org.uk/">
                                                          contacting Families Federations (Navy, Army or Royal Air Force)
                                                        </a>  </li>
                                                          <li>
                                                            contacting the NHS England armed forces team <a>(england.armedforceshealth@nhs.net)</a>
                                                            </li>
                                                            <li><a href="https://www.armedforcescovenant.gov.uk/support-and-advice/families/">
                                                              visiting the Armed Forces Covenant support and advice for families page
                                                            </a> </li>
                                                        </ul>

                                                        <P>
                                                          Serving personnel can also get advice and support from their service for problems affecting their family, including:
                                                          </P>

                                                          <ul>
                                                            <li>
                                                              your commanding officer
                                                              </li>
                                                              <li>
                                                                a divisional officer, or the Naval Personnel and Families Service and Royal Marines Welfare (Royal Navy only)
                                                                </li>
                                                                <li>
                                                                  a unit welfare officer, or the Army Welfare Service (British Army only)
                                                                  </li>
                                                                  <li>
                                                                    the Officer Commanding Personnel Management Squadron, or the RAF Personnel Support and Social Work Service (Royal Air Force only)
                                                                    </li>
                                                            </ul>



                                                        <p>
                                                          These organisations and people can give you advice on how to handle the problem so you are not at a disadvantage in receiving your healthcare.
                                                          </p>

                                                          <h3>Supporting a child with special educational needs when moving</h3>

                                                          <p>
                                                            If your child has special educational needs, you can register them with Children’s Education Advisory Service (CEAS).
                                                            </p>

                                                            <p>
                                                              They can provide advice and support to parents when you move. This includes making sure the right health, education and social care services are available.
                                                              </p>

                                                              <p style="margin-bottom:0px;">
                                                                <a href="https://www.gov.uk/government/groups/the-childrens-education-advisory-service-ceas">GOV.UK: Children’s Education Advisory Service</a>
                                                                </p>

                                                                <p>
                                                                  www.gov.uk
                                                                  </p>

                                                                <h2>Mental health support for families</h2>

                                                                <p>
                                                                  If you are worried your mental health or the mental health of someone in your family is being affected by armed forces life, you can contact services and charities dedicated to giving families mental health help and advice.
                                                                  </p>

                                                                  <p>
                                                                    These services and charities are here to support armed forces communities, including all family members. Do not be afraid to contact them if you need their support.
                                                                    </p>

                                                                    <h3>NHS mental health advice and urgent support</h3>

                                                                    <p>
                                                                      If you want support for a specific mental health condition, you can find information through our <a href="">A-Z of mental health conditions</a>.
                                                                      </p>

                                                                      <p>
                                                                        You can also find local or specific mental health charities.
                                                                        </p>

                                                                        <div class="nhsuk-action-link">
                                                                          <a class="nhsuk-action-link__link" href="get-help-now2"
                                                                          ow2">
                                                                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                                                              <path d="M0 0h24v24H0z" fill="none"></path>
                                                                              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                                                            </svg>
                                                                            <span class="nhsuk-action-link__text">Get urgent help for mental health</span>
                                                                          </a>
                                                                        </div>

                                                                        <h3>Op COURAGE: the Veterans Health and Wellbeing Service</h3>

                                                                        <p>
                                                                          Op COURAGE provide a range of different mental health support to all veterans, serving personnel with a discharge date and their family members.
                                                                          </p>

                                                                          <p>
                                                                            It is important to remember that Op COURAGE is also for armed forces families, not just veterans.
                                                                            </p>

                                                                            <p>
                                                                              They offer many types of mental health support, including:
                                                                              </p>

                                                                              <ul>
                                                                                <li>
                                                                                  supporting you in a mental health crisis
                                                                                  </li>
                                                                                  <li>
                                                                                    providing you the right treatment for early or advanced mental health problems
                                                                                    </li>
                                                                                    <li>
                                                                                      helping you to access other local NHS mental health services
                                                                                      </li>
                                                                                </ul>

                                                                                <p>
                                                                                  <a href="../level-3/mental-health-veterans">Find more information about Op COURAGE</a>
                                                                                  </p>

                                                                                  <h3>Combat Stress</h3>

                                                                                  <p>
                                                                                    If you need to talk to somebody, <a href="https://combatstress.org.uk/">Combat Stress</a> have dedicated mental health support helplines for veterans, serving personnel and their families.
                                                                                    </p>

                                                                                    <p>
                                                                                      They provide confidential advice and support and are free to call. They operate 24 hours a day, 365 days a year.
                                                                                      </p>

                                                                                      <p>
                                                                                        The helpline for veterans, non-mobilised reservists and their family members is <a>0800 138 1619</a>.
                                                                                        </p>

                                                                                        <p>
                                                                                          The helpline for serving personnel, mobilised reservists and their family members is <a>0800 323 4444</a>.
                                                                                          </p>

                                                                                          <h3>Togetherall</h3>

                                                                                          <p>
                                                                                            <a href="https://togetherall.com/en-gb/">Togetherall</a> is a mental health support service providing anonymous, round-the-clock online support with trained counsellors.
                                                                                            </p>

                                                                                            <p>

                                                                                              There's a supportive community and lots of free resources that all armed forces veterans, serving personnel and their families can use at any time.

                                                                                              </p>

                                                                                              <h2>Pregnancy and fertility support</h2>

                                                                                              <p>
                                                                                                If you or your partner are trying to have a child, are pregnant or have just had a child, it is important to know what options you have and what actions to take.
                                                                                                </p>

                                                                                                <h3>Support for pregnancy in the armed forces</h3>

                                                                                                <p>
                                                                                                  If you become pregnant while serving in the armed forces, it is important to inform your medical officer as soon as possible. This means you and your baby can receive protective treatment and support.
                                                                                                  </p>

                                                                                                  <p>
                                                                                                    During and after pregnancy, you are entitled to up to 52 weeks of maternity leave. If you need paternity leave, you can claim different amounts of time but it cannot start until the baby is born and must be taken within 56 days.
                                                                                                    </p>

                                                                                                    <p>
                                                                                                      If both parents are serving after the birth of your baby, it is important to inform chain of command so that the services can try not to deploy both parents at the same time.
                                                                                                      </p>

                                                                                                      <h3>Fertility support</h3>

                                                                                                      <p>
                                                                                                        Defence Medical Services (DMS) can provide testing for fertility issues in serving personnel, but it does not provide treatment.
                                                                                                        </p>

                                                                                                        <p>
                                                                                                          If you and your partner are having trouble conceiving, talk to a GP or doctor. They may be able to refer you to treatment under the NHS Armed Forces Commissioning Assisted Conception policy.
                                                                                                          </p>


                                                                                                          <p style="margin-bottom:0px;">
                                                                                                            <a href="https://aff.org.uk/advice/health-and-add/assisted-conception/">Army Families Federation: Guidance for armed forces families seeking assisted conception</a>
                                                                                                            </p>

                                                                                                            <p>
                                                                                                              www.aff.org.uk
                                                                                                              </p>

                                                                                                            <p>
                                                                                                              If fertility treatment is required and agreed upon, the Ministry of Defence (MoD) will try to avoid moving you to a new posting for up to 3 years so that you and your partner can consistently receive the care you need.
                                                                                                              </p>

                                                                                                              <p >
                                                                                                                <a href="https://www.nhs.uk/conditions/infertility/">Find more information about infertility, including diagnosis and treatment</a>
                                                                                                                </p>




                                                                                                                <div class="nhsuk-grid-row ">
                                                                                                                  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
                                                                                                                      <ul class="key-links">
                                                                                                                          <h2>More in <a>Healthcare for the armed forces community</a></h2>
                                                                                                                          <li><a href="veterans">Healthcare for armed forces veterans</a></li>
                                                                                                                          <li><a href="serving-personnel">Healthcare for serving personnel</a></li>
                                                                                                                          <li><a href="transition">Leaving the armed forces</a></li>
                                                                                                                          <li><a href="nhs-services">Using NHS services</a></li>
                                                                                                                          <li><a href="mental-health-st">Mental health support</a></li>

                                                                                                                      </ul>

                                                                                                                      </div>
                                                                                                                      </div>



<!-- End of content -->

{% endblock %}
