<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
 Armed forces introduction to NHS services
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
Armed forces introduction to NHS services
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find information about how the NHS works and how it provides healthcare to the armed forces community.
</p>

    <p>
NHS healthcare services work differently from healthcare you receive in the military.
</p>

      <p>
Unless you are receiving specialist treatment for injuries caused by your time serving in the armed forces, you are likely to receive your healthcare through the NHS.
</p>

<p>
Find more information on specialist armed forces services, including:
  </p>

  <ul>
    <li><a href="veterans">
      veteran healthcare services
      </a></li>
      <li><a href="../level-3/mental-health-veterans">
        veteran mental health services
        </a></li>
        <li><a href="serving-personnel">
          serving personnel healthcare services
          </a></li>
          <li><a href="../level-3/mental-health-serving-personnel">serving personnel mental health services</a>

            </li>
  </ul>


<h2>NHS GP surgeries</h2>

<p>
  <a href="../level-3/gps">GP surgeries</a> are usually the first contact if you have a health problem.
  </p>

  <p>
    They can treat many conditions and give health advice. They can also refer you to other NHS or armed forces healthcare services.
    </p>

<h3>Registering with a GP surgery</h3>

<p>
It is free to register with a GP. You do not need proof of address, immigration status, ID or an NHS number to do so.
  </p>

  <p>
You can check with GP surgeries before registering to see how they differ from each other, and find the right one for you. You do not need to register with a GP surgery in the area you live.
    </p>

    <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>If you are a veteran, tell your GP surgery as soon as possible. They will record it in your medical notes.</p>
<p>
This means you are more likely to receive specialist veteran care and consideration in the future, including referrals to specialist veteran health services if needed.
</p>
</div>

<div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="../level-3/find-gp">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Find a GP</span>
  </a>
</div>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

<p>
  <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">Find more information about registering with a GP</a>
  </p>


  <h3>Veteran friendly GP surgeries</h3>

<p>
  Different GP surgeries offer different things. Some GP surgeries are considered “veteran friendly”. Veteran friendly GP surgeries may have different ways they can help you with your healthcare.
  </p>

  <p>
    This includes:
    </p>

    <ul>
      <li>
        having medical staff with military healthcare backgrounds
        </li>
        <li>
          having staff trained to treat health problems that commonly affect veterans
          </li>
          <li>
            have knowledge of specialist NHS and MoD services designed specifically for member of the armed forces
            </li>
      </ul>

      <h3>Changing GP surgery</h3>
<p>
  You can change your GP surgery if you need to.
  </p>

  <p>
    This might be because:
    </p>

    <ul>
      <li>
        you have moved, perhaps due to a serving family member being posted elsewhere
        </li>
        <li>
          you have had problems with your current practice
          </li>
          <li>
            you were removed from the patient list
            </li>
      </ul>

      <p>
        It is important to tell the GP surgery if you change address or move out of the area.
        </p>

        <h2>Accessing NHS care</h2>

        <p>
          If you have a health problem, there are several ways you can get help.
          </p>

          <p>
            For most problems, talking to a GP is your first contact. They can refer you to a hospital for treatment or to a specialist health service if you need it.
            </p>

            <p>
              <a href="https://www.nhs.uk/nhs-services/gps/gp-appointments-and-bookings/">
Find information on how to get GP appointments and bookings
</a>
              </p>

              <div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Important information
    </span>
  </h3>
  <p>If you have a medical emergency, there are urgent and emergency services that can help you. You may need to:</p>
  <ul>
    <li>
      call 111
      </li>
<li>
  call 999
  </li>
  <li>
    go to A&E
    </li>
    <li>
      visit urgent treatment centres (walk-in centres or minor injury units)
      </li>
    </ul>
</div>

<p>
  <a href="https://www.nhs.uk/nhs-services/urgent-and-emergency-care-services/">Find information about urgent and emergency care services, including when to use them</a>
  </p>

  <h2>Hospital care and waiting lists</h2>

  <p>
    NHS hospitals provide specialist care. Your GP can refer you to a hospital if they feel you need specialist treatment. You are also entitled to ask for a referral for specialist treatment if you think you need it.
    </p>

    <p>
      <a href="https://www.nhs.uk/nhs-services/hospitals/">Find information on NHS hospitals </a>
      </p>

      <h3>Waiting lists</h3>

      <p>
        You are likely to be placed on a waiting list if you have been referred for specialist NHS treatment.
        </p>

        <p>
          Members of the armed forces community may be added to a waiting list if:
          </p>

          <ul>
            <li>
              you are a veteran or non-mobilised reservist who has a health problem not caused by service
              </li>
              <li>
                you are a serving personnel or mobilised reservist based in England who has chosen to receive hospital care outside of MoD specialist treatment
                </li>
                <li>
                  you are a family member of a veteran or serving personnel
                  </li>
            </ul>

            <p>

The waiting time starts from when the hospital or service receives your referral letter, or when you book your first appointment through the <a href="">NHS e-referral service</a>.

              </p>

              <p>
                Maximum waiting times differ depending on your situation. The maximum for non-urgent referrals is 18 weeks.
                </p>

                <h3>Priority treatment for veterans</h3>

                <p>
                  You may be able to receive quicker treatment if you are a veteran in need of specialist NHS care.
                  </p>

                  <p>
                    This is not a guarantee. Receiving priority treatment depends on your situation and the nature of the treatment required. This includes:
                    </p>

                    <ul>
                      <li>
                        if other people have a higher clinical need than you
                        </li>
                        <li>
                          the urgency of your treatment
                          </li>
                          <li>
                            the type of treatment you need
                            </li>
                      </ul>

                      <h2>Paying for NHS care</h2>

                      <p>
                        Most NHS treatment is free, including hospital care, seeing a GP and using many of the services.
                        </p>

                        <p>
                          There are some areas that you will need to pay towards, including:
                          </p>

                          <ul>
                            <li><a href="https://www.nhs.uk/nhs-services/dentists/dental-costs/get-help-with-dental-costs/">
                              dental care</a>
                              </li>
                              <li><a href="https://www.nhs.uk/nhs-services/prescriptions-and-pharmacies/who-can-get-free-prescriptions/">
                                prescriptions</a>
                                </li>
                                <li><a href="https://www.nhs.uk/nhs-services/opticians/free-nhs-eye-tests-and-optical-vouchers/">
                                  eye care</a>
                                  </li>
                                  <li><a href="https://www.nhs.uk/nhs-services/help-with-health-costs/wigs-and-fabric-supports-on-the-nhs/">
                                    wigs and fabric supports
                                    </a></li>
                            </ul>

                            <p>
                              There are some exceptions in these areas of care. For example, if you hold a valid war pension exemption certificate, you may not have to pay for prescriptions.
                              </p>

                              <p>
                                <a href="https://www.nhs.uk/nhs-services/help-with-health-costs/when-you-need-to-pay-towards-nhs-care/">Find more information about paying for NHS care, including exemptions</a>
                                </p>

                                <h3>Commonwealth armed forces care</h3>

                                <p>
                                  Members of the commonwealth armed forces receive free healthcare up to your discharge date.
                                  </p>

                                  <p>
                                    In order to receive free healthcare through the NHS after this date, you must gain indefinite leave by applying to settle in the UK.
                                    </p>

                                    <div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">
      Important<span class="nhsuk-u-visually-hidden">:</span>
    </h3>

  <ul>
    <li>
      you must apply within 2 years of your discharge date
      </li>
      <li>
        the earliest you can apply is 10 weeks before your discharge date
        </li>
        <li>
          it is recommended you apply as soon as possible after the 10 week point
          </li>
          <li>
            you will not receive free NHS healthcare after your discharge date and before you have gained indefinite leave
            </li>
    </ul>


  </div>


<p>
  The process may differ depending on how long you served and where you served, as well as if you family members who are also looking to settle in the UK.
  </p>

  <p>
    <a href="https://www.gov.uk/settle-in-the-uk/y/you-re-in-or-have-been-in-hm-forces">GOV.UK: Find more information on settling in the UK after serving in the armed forces</a>
    </p>

    <h2>Dental and eye care</h2>

    <p>
      You can receive dental and eye care either through the NHS or privately. This may also depend on the type of care you need, including any specialist treatment.
      </p>

      <p>
        Dental and eye care are not usually free. However, there are exceptions, such as receiving free NHS eye tests.
        </p>

        <p>
          <a href="https://www.nhs.uk/nhs-services/dentists/">Find more information on dental care, including finding a dentist</a>
          </p>


<p>
  <a href="https://www.nhs.uk/nhs-services/opticians/">Find more information on eye care, including finding an opticians</a>
  </p>

  <h2>Find NHS services</h2>

  <p>
    If you need help from an NHS service but are unsure of how to find one, the NHS can <a href="https://www.nhs.uk/nhs-services/services-near-you/">help find services near you</a>.
    </p>

    <p>
      If you need more information, you can <a href="https://www.nhs.uk/nhs-services/">find more on our NHS services page</a>.
      </p>
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class=" nhsuk-promo-group nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2">

  </div>


  <div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
        <ul class="key-links">
            <h2>More in <a>Healthcare for the armed forces community</a></h2>
            <li><a href="veterans">Healthcare for armed forces veterans</a></li>
            <li><a href="serving-personnel">Healthcare for serving personnel</a></li>
            <li><a href="transition">Leaving the armed forces</a></li>
            <li><a href="charities">Armed forces charities and support groups</a></li>
            <li><a href="mental-health-st">Mental health support</a></li>

        </ul>

        </div>
        </div>

</div>







<!-- End of content -->

{% endblock %}
