<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS services for armed forces
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
NHS services for armed forces
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
      All hospital care is provided by the NHS. This includes emergency and elective care.
    </p>

    <p>
      Since 2001, the main treatment centre for military patients seriously injured has been the Royal Centre for Defence Medicine (RCDM).
      </p>

      <p>
        The RCDM is based at the Queen Elizabeth Hospital Birmingham (QEHB), which is part of <a href="">University Hospitals Birmingham NHS Foundation Trust</a>, and is the primary receiving hospital for service personnel injured on operations.
        </p>

<p>
  The QEHB also offers non-urgent admissions to service personnel based in England through the <a href="">NHS e-Referral Service</a>.
  </p>

  <p>
    These elective cases are managed in line with normal NHS procedures and waiting times.
    </p>

<h2>Military casualties </h2>

<p>
  The main arrival points for military casualties are Birmingham International Airport and RAF Brize Norton, with which QEHB has good transport links.
  </p>

  <p>
    QEHB staff are highly experienced in treating the most common types of injuries to service personnel, such as polytrauma (where someone has suffered multiple traumatic injuries).
    </p>

    <p>
      Casualties arriving for treatment at QEHB are either placed on a trauma ward or taken straight to intensive care, depending on the severity of their injuries.
      </p>

      <p>
        Medical notes, images, scans and lab results will be sent ahead of the patient, so by the time they arrive, members of the clinical team at QEHB will have already planned their treatment.
        </p>

        <p>
          The QEHB military ward is in a designated trauma and orthopaedics ward, where up to 32 military patients are cared for in single rooms or four-bed bays.
          </p>

          <p>
            The ward has additional features for the use of service personnel only. These cater for their specific requirements and boost the military atmosphere.
            </p>

            <p>
              It has more staff (both military and civilian) than a normal NHS ward, plus a quiet room for relatives, communal space for patients, and a physiotherapy suite.
              </p>

              <p>
                Patients get regular visits from defence medical welfare services, who deal with their day-to-day needs and maintain links with their units.
                </p>

                <h2>Routine hospital care</h2>

                <p>
                  For service personnel based in England, non-urgent and routine procedures can be accessed at any NHS hospital through the <a href="">NHS e-Referral Service</a>.
                  </p>

                  <p>
                    These admissions will adhere to NHS procedures and waiting times, and the amount of choice available may be subject to certain operational criteria.
                    </p>



  </div>
</div>



<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class=" nhsuk-promo-group nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2">

  </div>


  <div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
        <ul class="key-links">
            <h2>More in <a>Healthcare for the armed forces community</a></h2>
            <li><a href="clinical-depression">Clinical depression</a></li>
            <li><a href="gad">Generalised anxiety disorder</a></li>
            <li><a href="">Sertraline</a></li>


        </ul>

        </div>
        </div>










<!-- End of content -->

{% endblock %}
