<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Healthcare for armed forces serving Personnel
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
Healthcare for armed forces serving personnel    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find information and support about healthcare for serving personnel, mobilised reservists and family members.     </p>

<p>
  The Ministry of Defence (MoD) is responsible for providing both primary and secondary healthcare for all serving personnel and mobilised reservists.
  </p>

  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
<div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

<h2>Healthcare on active duty</h2>

<h3>Primary care while serving</h3>

<p>
  Primary care services for serving personnel and mobilised reservists both overseas and in the UK are provided by the Defence Medical Services (DMS).
  </p>

  <p>
    The DMS is made up of the Royal Navy Medical Services, the Army Medical Services, the Royal Air Force Medical Services and Headquarters DMS Group.
    </p>



    <p>
      Primary care includes:
      </p>
<ul>
  <li>
    general practice
    </li>
    <li>
      dentistry
      </li>
      <li>
        occupational medicine
        </li>
        <li>
          community mental health services
          </li>
  </ul>

  <p>
    All primary care services are staffed by regular uniformed and reserve medical personnel from the British Army, the Royal Navy and the Royal Air Force.
    </p>


<h3>Returning to the UK for specialist treatment</h3>

<p>
  If you need to return to the UK for specialist or emergency treatment, you will receive hospital care through the NHS.
  </p>

<p>
  You will be treated in an NHS hospital with specialist wards and staff dedicated to treating serving personnel.
  </p>

  <h4>Where will I be treated?</h4>

<p>
  The main treatment centre for seriously injured serving personnel is the Royal Centre for Defence Medicine (RCDM). This is a specialist centre provided by the DMS and the NHS.
  </p>

<p>

The RCDM is based at the Queen Elizabeth Hospital in Birmingham (QECB).

  </p>

  <p>
    You will be placed in either the specialist military ward or go straight to intensive care depending on your injuries.
    </p>

    <p>
      The military ward contains staff from both military and civilian backgrounds, and has many features for serving personnel such as a physiotherapy suite, communal spaces and a quiet room for family members and visitors.
      </p>

      <p>
        The <a href="https://dmws.org.uk/">Defence Medical Welfare Service (DMWS)</a> will visit you regularly. They will help you with your day to day needs, and maintain a link with your unit.
        </p>

        <h3>Rehabilitation services</h3>

        <p>
          The DMS provides many rehabilitation services across the UK. These are known as Primary Care Rehabilitation Facilities (PCRFs) and Regional Rehabilitation Units (RRUs).
          </p>

          <p>
            Most serving personnel will receive physiotherapy and exercise rehabilitation through PCRFs. If you have more serious injuries, you will be referred to an RRU.
            </p>

            <p>
              The DMS also works with the Defence and National Rehabilitation Centre (DNRC). This is a specialist centre committed to supporting serving personnel in their rehabilitation.
              </p>

              <p>
                <a href="https://www.thednrc.org.uk/">Find out more about the DNRC. </a>
                </p>

                <h3>Non-urgent and routine hospital care</h3>

                <p>
                  If you are based in England and need non-urgent or routine hospital treatment, you will be referred through the NHS.
                  </p>

                  <p>
                    You can use the NHS e-Referral Service to access this treatment.
                    </p>

                    <p>
                      You may be placed on waiting lists or have limited choices for your treatment depending on your situation.
                      </p>

                      <h2>Healthcare support for families of serving personnel</h2>

                      <p>
                        Most families of serving personnel access and receive their healthcare through the NHS in the same way as non-serving personnel families.
                        </p>

                        <p>
                          If you have problems accessing or receiving care due to being the family member of someone actively serving, the <a href="https://www.gov.uk/government/publications/what-the-covenant-means-to-you-leaflets">Armed Forces Covenant</a> can help.
                          </p>

                          <p>
                            The Armed Forces Covenant aims to remove disadvantages so you can receive healthcare equal to non-serving personnel families.
                            </p>

                            <h3>Accessing healthcare when moving</h3>


                          <p>
                            You must tell any healthcare services when you are moving due to serving personnel postings.
                            </p>

                            <p>
                              This includes:
                              </p>
                          <ul>
                              <li>
                                your GP surgery
                                </li>
                                <li>
                                  health visitors
                                  </li>
                                  <li>
                                    dentists
                                    </li>
                                    <li>
                                      school nurses
                                      </li>
                                      <li>
                                        any other local health services you use
                                        </li>
                            </ul>

                            <p>
                              This allows them to transfer any medical records so you can continue to receive any care and support you need.
                              </p>

                              <p>
                                If you are moving due to a posting, you will retain your position on any NHS waiting lists.
                                </p>

                                <h3>Welfare support for families</h3>

                                <p>
                                  The 3 Service Families Federations offer independent and confidential advice on a range of issues. They work to improve the quality of life for all service families.
                                  </p>

                                  <p>
                                    They regularly engage with the chain of command, local authorities and government to represent the views of armed forces families.
                                    </p>

                                    <p>

Each of the 3 services has its own Welfare Support and Information Service Teams and <a href="https://dmws.org.uk/">Defence Medical Welfare Service (DMWS)</a>.

                                      </p>

                                      <p>
                                        For more information about:
                                        </p>

                                        <ul>
                                          <li><a href="https://nff.org.uk/">
                                            Naval Families Federation
                                            </a></li>
                                            <li><a href="https://aff.org.uk/">
                                              Army Families Federation
                                              </a></li>
                                              <li><a href="https://www.raf-ff.org.uk/">
                                                Royal Air Force Families Federation
                                                </a></li>
                                          </ul>

                                          <h4>Defence Medical Welfare Services (DMWS)</h4

                                            <p>
                                              The DMWS is a charity that works for the MoD.
                                              </p>

                                              <p>
                                                They work with other charities to provide practical and emotional support to serving personnel and their families when they're in hospital, rehabilitation or recovery centres.
                                                </p>

                                                <p>
                                                  <a href="charities">Find out about more charities that support serving personnel families. </a>
                                                  </p>


                                                  <h3>Healthcare for families overseas</h3>

                                                  <p>
                                                    If you are overseas due to the posting of a family member, the Armed Forces Covenant still applies to you.
                                                    </p>

                                                    <p>
                                                      The availability of health and support services can vary depending on your location. The MoD will ensure that all essential services are available to you when you move to another overseas location, including health and education.
                                                      </p>

                                                      <p>
                                                        You may receive your primary care services from Defence Primary Healthcare (DPHC) medical centres.
                                                        </p>

                                                        <h2>Mental health support</h2>

                                                        <p>
                                                          The DMS provides mental health support for serving personnel and mobilised reservists, including crisis support and specialist care.
                                                          </p>

                                                          <p>
                                                            There are also charity helplines that are available for you to talk to.
                                                            </p>

                                                            <p>
                                                              <a href="mental-health-st">Find out more information about mental health support for serving personnel and their families.  </a>
                                                              </p>

<!-- End of content -->
<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>More in <a>Healthcare for the armed forces community</a></h2>
          <li><a href="veterans">Healthcare for armed forces veterans</a></li>
          <li><a href="nhs-services">Using NHS services</a></li>
          <li><a href="transition">Leaving the armed forces</a></li>
          <li><a href="charities">Armed forces charities and support groups</a></li>
          <li><a href="mental-health-st">Mental health support</a></li>

      </ul>

      </div>
      </div>

{% endblock %}
