<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Healthcare for armed forces veterans
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>




    <!-- Change the page title here -->
    <h1>
Healthcare for armed forces veterans
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find the right healthcare support dedicated to veterans, non-mobilised reservists, families and carers.     </p>

<p>
  You are a veteran if you have actively served in the armed forces for at least 1 day. This includes reservists who are not currently mobilised.
  </p>

  <p>
    All veterans, family members and carers can access a range of specialist healthcare and support created to provide treatment and care for many different problems.
    </p>

    <h2>Support for health problems not caused by service</h2>

    <p>
      If you have a new or existing health problem that is not caused by your time in the armed forces, you can use regular NHS services to get treatment.
      </p>

      <p>
        You will only be referred to specialist veteran services if your health problem was caused by your time in the armed forces.
        </p>

        <p>
          It is important to <a href="../../register-gp">register with a GP surgery</a> once you have left the armed forces. A GP can help refer you to NHS or dedicated veteran specialist services.
          </p>

          <p>
            If your health problem is serious, you can call 111 or book an emergency GP appointment.
            </p>

            <p>
              If the health problem is urgent, call 999 or visit your nearest A&E.
              </p>

              <p>
                <a href="nhs-services">
                Find more information about NHS services and how to access them.
                </a>
                </p>

                <h3>Waiting lists and priority treatment</h3>

                <p>
                  If you have a health problem not caused by your time in the armed forces, you may go on to a waiting list before you can receive any treatment from the NHS.
                  </p>

                  <p>
                    If you have a health problem caused by your time in the armed forces, you may be able to receive priority access to NHS care. However, this is not guaranteed.
                    </p>

                    <p>
                      Check with the NHS service you are using if you can receive priority treatment as a veteran.
                      </p>

                      <p>
                        <a href="nhs-services">Find more information on waiting lists and priority treatment</a>
                        </p>

                        <h3>Help when transitioning from armed forces healthcare</h3>

                        <p>
                          When you leave the armed forces, it is important to complete a number of steps to make sure you can receive healthcare through the NHS and specialist veteran services.
                          </p>

                          <p>
                            This includes:
                            </p>

                            <ul>
                              <li>
                                registering with a GP surgery
                                </li>
                                <li>
                                  making sure your GP surgery has a copy of your military medical records
                                  </li>
                                  <li>
                                    making sure you are flagged as a veteran on your NHS medical notes
                                    </li>
                              </ul>

                        <h3>Veteran friendly GP surgeries and trusts</h3>

                        <p>
                          Some GP surgeries and NHS trusts have staff trained to be aware of health problems that veterans might face.
                          </p>

                          <p>

These are referred to as “veteran friendly” or “veteran aware”.

                            </p>

                            <p>
                              <a href="https://www.england.nhs.uk/personalisedcare/upc/ipc-for-veterans/veteran-aware-nhs-trusts/">
Find a veteran aware NHS trust
</a>
                              </p>

                              <h2>Support for health problems caused by service</h2>

                              <p>
                                There are many dedicated Ministry of Defence (MoD) and NHS services dedicated to treating and supporting veterans who have health problems caused by their time in the armed forces.
                                </p>

                                <h3>Veterans Trauma Network</h3>

                                <p>
                                  The Veterans Trauma Network (VTN) provides care and treatment to veterans who were injured during their time in the armed forces.
                                  </p>

                                  <p>
                                    It works closely with the Defence Medical Services (DMS), specialist NHS services and key charities to provide a range of services.
                                    </p>

                                    <p>
                                      If you are referred to the VTN, you will be given personalised treatment in a local NHS health centre by military and civilian clinicians who understand and specialise in the type of injuries you have.
                                      </p>

                                      <p>
                                        The VTN can also support families and carers of injured veterans through helping you access appropriate support services.
                                        </p>

                                        <h4>Accessing the Veterans Trauma Network</h4>

                                        <p>
                                          You can only be referred to the VTN by a GP. They must know you served in the armed forces to refer you.
                                          </p>

                                          <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>A GP can refer you to the Veteran’s Trauma Network by emailing <a href="https://yellowcard.mhra.gov.uk/" title="External website">england.veteranstraumanetwork@nhs.net</a>.</p>
</div>

<h3>Veterans Welfare Service</h3>

<p>
  The Veterans Welfare Service provides one-to-one advice and support to veterans, their families and carers.
  </p>

  <p>
    It is run by the MoD and Veterans UK.
    </p>

    <p>
      <a href="https://www.gov.uk/guidance/veterans-welfare-service">GOV.UK: More information and get in touch with the Veterans Welfare Service </a>
      </p>

      <h2>Support for disabled veterans</h2>

      <p>
        There are many different NHS, MoD and charity services that are dedicated to providing support and treatment to veterans with disabilities.
        </p>

        <h3>Disablement Service Centres</h3>

        <p>
          If you lost a limb during your service, Disablement Service Centres (DSCs) can offer you specialist prosthetic and rehabilitation support.
          </p>

          <p>
            You can be referred to a DSC during your regular medical treatment if the service will benefit you.
            </p>

            <p>
              Ask a GP if you want more information about DSCs.
              </p>

              <h3>Blesma</h3>

              <p>
                Blesma offer advice and support to veterans who lost a limb, the use of a limb, an eye or the use of sight during military service.
                </p>

                <p>
                  They work closely with NHS and MoD services for disabled veterans and can refer you to useful services. They also offer advice on financial benefits and support as well as helping you find appropriate community groups.
                  </p>

                  <p>
                    <a href="https://blesma.org/">Find out more on the Blesma website</a>
                    </p>

                    <h3>Blind Veterans UK</h3>

                    <p>
                      Veterans with sight loss can get help and support from Blind Veterans UK.
                      </p>

                      <p>
                        They offer a range of support, including rehabilitation services, practical advice and emotional support.
                        </p>

                        <p>
                          <a href="https://www.blindveterans.org.uk/">Find out more on the Blind Veterans UK website</a>
                          </p>

                          <h2>Financial healthcare and welfare support</h2>

                          <p>
                            There are many organisations who offer financial advice and support to veterans and their families or carers.
                            </p>

                            <h3>Veterans UK</h3>

                            <p>
                              Veterans UK is an organisation run by the MoD. They offer advice and support on many issues, including benefits, housing and welfare.
                              </p>

                              <p>
                                There are many ways to contact Veterans UK, including a telephone helpline.
                                </p>

                                <p>
                                  <a href="https://www.gov.uk/guidance/veterans-uk-contact-us">GOV.UK: More information and get in touch with Veterans UK</a>
                                  </p>

                                  <h3>Integrated Personal Commissioning for Veterans (IPC4V)</h3>

                                  <p>
                                    IPC4V is an NHS and MoD service that helps make personalised care plans for veterans and their families or carers. This includes financial and budgeting support, as well as referring to key services, community groups and charities.
                                    </p>

                                    <p>
                                      If you are eligible, you will be asked about joining the service whilst at a Personnel Recovery Centre or a Defence Medical Rehabilitation Centre.
                                      </p>

                                      <p>
                                        <a href="https://www.england.nhs.uk/personalisedcare/upc/ipc-for-veterans/#:~:text=The%20Armed%20Forces%20personnel%20in,attributable%20to%20injury%20whilst%20in">Find more information on IPC4V, including benefits and eligibility</a>
                                        </p>

                                        <h3>ABF The Soldier’s Charity</h3>

                                        <p>
                                          The Soldier’s Charity offer financial support and funding to Army veterans and their families or carers.
                                          </p>

                                          <p>
                                            <a href="https://soldierscharity.org/">Find more information on the Soldier’s Charity website</a>
                                            </p>

                                            <h2>Mental health support</h2>

                                            <p>
                                              Veterans and their families and carers can access dedicated mental health support services run by the MoD, the NHS and mental health charities. These include:
                                              </p>

                                              <ul>
                                                <li>
                                                  Op COURAGE: the Veterans Mental Health and Wellbeing Service
                                                  </li>
                                                  <li>
                                                    the Veterans and Reserves Mental Health Programme
                                                    </li>
                                                    <li>
                                                    the Combat Stress mental health helpline
                                                    </li>
                                                    <li>
                                                      urgent NHS mental health support
                                                      </li>
                                                </ul>

                                                <p>
                                                  <a href="mental-health-st">Find out more about mental health support for veterans and families.</a>
                                                  </p>

                                                  <h2>Charity support</h2>

                                                  <p>
                                                    There are many charities dedicated to providing support, advice and aid for veterans and their families.
                                                    </p>

                                                    <p>

Many of these charities cover a range of topics, including, disability support, rehabilitation, self-help programmes, accessing services and further financial support.

                                                      </p>

                                                      <p>
                                                        <a href="charities">Find more information about charities that can help veterans and their families. </a>
                                                        </p>

                                                  <h2>Support for families of veterans</h2>

                                                  <p>
                                                    All families if veterans can receive support through the Armed Forces Covenant.
                                                    </p>

                                                    <p>
                                                      The covenant is a commitment to helping all families of veterans and serving personnel so that they can live their lives fairly and without disadvantage.
                                                      </p>

                                                      <p>
                                                        They can help you access any services you need, including financial, education, healthcare and family well-being.
                                                        </p>

                                                        <p>
                                                          <a href="https://www.armedforcescovenant.gov.uk/">Find more information on the Armed Forces Covenant website</a>
                                                          </p>

                                                          <h3>Defence Medical Welfare Services (DMWS)</h3>

                                                          <p>
                                                            The DMWS is a charity that works for the MoD.
                                                            </p>

                                                            <p>
                                                              They work with other charities to provide practical and emotional support to veterans when receiving medical treatment. This includes helping families with personalised support for your situation.
                                                              </p>

                                                              <p>
                                                                <a href="https://dmws.org.uk/">Find more information on the DMWS website</a>
                                                                </p>
  </div>
</div>




  <div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
        <ul class="key-links">
            <h2>More in <a>Healthcare for the armed forces community</a></h2>
            <li><a href="clinical-depression">Clinical depression</a></li>
            <li><a href="gad">Generalised anxiety disorder</a></li>
            <li><a href="">Sertraline</a></li>


        </ul>

        </div>
        </div>

<!-- End of content -->

{% endblock %}
