<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Get support from a mental health charity
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/services">NHS, voluntary and charity services</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#charity/">Voluntary and charity services</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#charity/">Voluntary and charity services</a></p>
        </div>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">
      <!-- Change the page title here -->
      <h1>
        Get support from a mental health charity

      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Whether you're concerned about yourself or a loved one, these mental health charities, organisations and support groups can offer expert advice.
      </p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="../level-one/get-help-now">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Get urgent help now for mental health</span>
        </a>
      </div>

      <h2>A to Z - General mental health support</h2>

      <h3>Anxiety UK</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Anxiety UK: National charity helping people with anxiety </a>
            <div>www.anxietyuk.org.uk</div>
            </li>
            <li><tel>Phone: 03444 775 774</tel> (Monday to Friday, 9.30am to 5.30pm)
            </li>

        </ul>

      </nav>

      <h3>Bipolar UK</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Bipolar UK: helping people living with manic depression or bipolar disorder </a>
            <div>www.bipolaruk.org.uk</div>
            </li>
        </ul>
      </nav>

      <h3>CALM</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">CALM: Campaign Against Living Miserably, for men aged 15 to 35 </a>
            <div>www.thecalmzone.net</div>
            </li>
            <li><tel>Phone: 0800 58 58 58 </tel> (daily, 5pm to midnight)
            </li>
        </ul>
      </nav>

      <h3>Men's Health Forum</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Men's Health Forum: 24/7 stress support for men by text, chat and email. </a>
            <div>www.menshealthforum.org.uk</div>
            </li>
        </ul>
      </nav>

      <h3>Mental Health Foundation</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Mental Health Foundation: information and support for anyone with mental health problems or learning disabilities. </a>
            <div>www.mentalhealth.org.uk</div>
            </li>
        </ul>
      </nav>

      <h3>Mind</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Mind: Promotes the views and needs of people with mental health problems. </a>
            <div>www.thecalmzone.net</div>
            </li>
            <li><tel>Phone: 0300 123 3393 </tel> (Monday to Friday, 9am to 6pm)
            </li>
        </ul>
      </nav>

      <h3>No Panic</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">No Panic: offering support for sufferers of panic attacks and obsessive compulsive disorder (OCD). </a>
            <div>www.nopanic.org.uk</div>
            </li>
            <li><tel>Phone: 0844 967 4848 </tel> (daily, 10am to 10pm) - Calls cost 5p per minute plus your phone provider's Access Charge
            </li>
        </ul>
      </nav>

      <h3>OCD Action</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">OCD Action: information on treatment and online resources for people with OCD. </a>
            <div>www.ocdaction.org.uk</div>
            </li>
            <li><tel>Phone: 0845 390 6232 </tel> (Monday to Friday, 9.30am to 5pm) - Calls cost 5p per minute plus your phone provider's Access Charge
            </li>
        </ul>
      </nav>

      <h3>OCD UK</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">OCD UK: charity run by people with OCD, for people with OCD. </a>
            <div>www.ocduk.org</div>
            </li>
            <li><tel>Phone: 0333 212 7890 </tel> (Monday to Friday, 9am to 5pm)
            </li>
        </ul>
      </nav>

      <h3>PAPYRUS</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">PAPYRUS: young suicide prevention society. </a>
            <div>www.papyrus-uk.org</div>
            </li>
            <li><tel>Phone: HOPElineUK 0800 068 4141 </tel> (Monday to Friday, 10am to 5pm and 7pm to 10pm, and 2pm to 5pm on weekends)
            </li>
        </ul>
      </nav>

      <h3>Rethink Mental Illness</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Rethink Mental Illness: support and advice for people living with mental illness. </a>
            <div>www.rethink.org</div>
            </li>
            <li><tel>Phone: 0300 5000 927 </tel> (Monday to Friday, 9.30am to 4pm)
            </li>
        </ul>
      </nav>
      <h3>Samaritans</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">Samaritans: confidential support for people experiencing feelings of distress or despair. </a>
            <div>www.samaritans.org.uk</div>
            </li>
            <li><tel>Phone: 116 123 </tel> (free 24-hour helpline)
            </li>
        </ul>
      </nav>



      <h3>SANE</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">

          <li><a href="">SANE: Emotional support, information and guidance for people affected by mental illness, their families and carers.</a>
            <div>www.sane.org.uk</div>
            </li>
            <li><a href="">SANE Textcare: comfort and care via text message, sent when the person needs it most</a>
              <div>www.sane.org.uk</div>
              </li>
            <li><a href="">SANE: peer support forum</a>
              <div>www.sane.org.uk</div>
              </li>
        </ul>

      </nav>

      <h3>YoungMinds</h3>
      <nav role="navigation">
        <ul class="nhsuk-external-link">
          <li><a href="">YoungMinds: information on child and adolescent mental health. Services for parents and professionals. </a>
            <div>www.youngminds.org.uk</div>
            </li>
            <li><tel>Phone: 0808 802 5544 </tel> Parent's helpline (Monday to Friday, 9.30am to 4pm)
            </li>
        </ul>
      </nav>

              <hr>

              <h2>Abuse (child, sexual, domestic violence)</h2>

              <h3>NSPCC</h3>
              <nav role="navigation">
                <ul class="nhsuk-external-link">
                  <li><a href="">NSPCC: children's charity dedicated to ending child abuse and child cruelty. </a>
                    <div>www.nspcc.org.uk</div>
                    </li>
                    <li><tel>Phone: 0800 1111 </tel> Childline for children (24-hour helpline)
                    </li>
                    <li><tel>Phone: 0808 800 5000 </tel> for adults concerned about a child (24-hour helpline)
                    </li>
                </ul>
              </nav>



              <h3>Refuge</h3>
              <nav role="navigation">
                <ul class="nhsuk-external-link">
                  <li><a href="">Refuge: advice on dealing with domestic violence. </a>
                    <div>www.refuge.org.uk</div>
                    </li>
                    <li><tel>Phone: 0808 2000 247 </tel> (24-hour helpline)
                    </li>

                </ul>
              </nav>

         <hr>

              <h2>Alcohol misuse</h2>
              <h3>Alcoholics Anonymous</h3>
              <nav role="navigation">
                <ul class="nhsuk-external-link">
                  <li><a href="">Alcoholics Anonymous: getting sober with the help of regular face-to-face and online support groups. </a>
                    <div>www.alcoholics-anonymous.org.uk</div>
                    </li>
                    <li><tel>Phone: 0800 917 7650 </tel> (24-hour helpline)
                    </li>

                </ul>
              </nav>


              <h3>Al-Anon</h3>
              <nav role="navigation">
                <ul class="nhsuk-external-link">
                  <li><a href="">Al-Anon: for anyone whose life is or has been affected by someone else's drinking. </a>
                    <div>www.al-anonuk.org.uk</div>
                    </li>


                </ul>
              </nav>

              <h3>Drinkline</h3>
              <nav role="navigation">
                <ul class="nhsuk-external-link">
                  <li>A free confidential helpline for people worried about their own or someone else's drinking.
                    </li>
                    <li><tel>Phone: 0300 123 1110 </tel> (weekdays 9am to 8pm, weekends 11am to 4pm)</li>


                </ul>
              </nav>



              <h3>National Association for Children of Alcoholics</h3>
              <nav role="navigation">
                <ul class="nhsuk-external-link">
                  <li><a href="">National Association for Children of Alcoholics: free confidential advice and information to everyone affected by a parent’s drinking including children, adults and professionals. </a>
                    <div>www.nacoa.org.uk</div>
                    </li>
                    <li><tel>Phone: 0800 358 3456 </tel> (Friday, Saturday and Monday 12pm to 7pm and Tuesday, Wednesday and Thursday 12pm to 9pm)
                    </li>

                </ul>
              </nav>


            <h3>SMART Recovery UK</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">
                <li><a href="">SMART Recovery UK: face-to-face and online groups help people decide whether they have a problem with alcohol and drugs. </a>
                  <div>www.smartrecovery.org.uk</div>
                  </li>
                  <li><tel>Phone: 0330 053 6022 </tel> (general enquiries 9am to 5pm, Monday-Friday)
                  </li>

              </ul>
            </nav>
           <hr>
            <h2>Alzheimer's</h2>
            <h3>Alzheimer's Society</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">
                <li><a href="">Alzheimer's Society: provides information on dementia, including factsheets and helplines. </a>
                  <div>www.alzheimers.org.uk</div>
                  </li>
                  <li><tel>Phone: 0300 222 1122 </tel> (Monday to Friday, 9am to 5pm and 10am to 4pm on weekends)
                  </li>

              </ul>
            </nav>
<hr>
            <h2>Bereavement</h2>
            <h3>Cruse Bereavement Care</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">
                <li><a href="">Cruse Bereavement Care: you are not alone, we're here to support you. </a>
                  <div>www.cruse.org.uk</div>
                  </li>
                  <li><tel>Phone: 0808 808 1677 </tel> (Monday to Friday, 9am to 5pm)
                  </li>

              </ul>
            </nav>
    <hr>

            <h2>Crime victims</h2>
            <h3>Rape Crisis</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">
                <li><a href="">Rape Crisis: local services. </a>
                  <div>www.rapecrisis.org.uk</div>
                  </li>
                  <li><tel>Phone: 0808 802 9999 </tel> (daily, 12pm to 2.30pm and 7pm to 9.30pm)
                  </li>
              </ul>
            </nav>

            <h3>Victim Support</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">
                <li><a href="">Victim Support: help after crime. </a>
                  <div>www.victimsupport.org</div>
                  </li>
                  <li><tel>Phone: 0808 168 9111 </tel> (24-hour helpline)
                  </li>
              </ul>
            </nav>
            <hr>

            <h2>Drug misuse</h2>
            <h3>Cocaine Anonymous</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">
                <li><a href="">Cocaine Anonymous: stopping using cocaine and all other mind-altering substances with the help of regular face-to-face and online support groups. </a>
                  <div>www.cocaineanonymous.org.uk</div>
                  </li>
                  <li><tel>Phone: 0800 612 0225 </tel> (daily, 10am to 10pm)
                  </li>
              </ul>
            </nav>


            <h3>FRANK</h3>
            <nav role="navigation">
              <ul class="nhsuk-external-link">

                <li><a href="">FRANK: free, confidential information and advice about drugs, their effects and the law.</a>
                  <div>www.talktofrank.com</div>
                  </li>
                  <li>Text a question to: 82111

                    </li>
                  <li><tel>0300 1236600</tel>(24-hour helpline)

                    </li>
              </ul>

            </nav>




          <h3>Marijuana Anonymous</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Marijuana Anonymous: stopping using marijuana with the help of regular face-to-face and online support groups. </a>
                <div>www.marijuana-anonymous.org.uk</div>
                </li>
                <li><tel>Phone: 0300 124 0373 </tel> (callback service)
                </li>
            </ul>
          </nav>


          <h3>Narcotics Anonymous</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Narcotics Anonymous: stopping using drugs with the help of regular face-to-face and online support groups. </a>
                <div>www.ukna.org</div>
                </li>
                <li><tel>Phone: 0300 999 1212 </tel> (daily, 10am to midnight)
                </li>
            </ul>
          </nav>


          <h3>SMART Recovery UK</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">SMART Recovery UK: face-to-face and online groups help people decide whether they have a problem with alcohol and drugs. </a>
                <div>www.smartrecovery.org.uk/</div>
                </li>
                <li><tel>Phone: 0330 053 602 </tel> for general enquiries about SMART Recovery UK (9am to 5pm, Monday-Friday)
                </li>
            </ul>
          </nav>
         <hr>

          <h2>Eating disorders</h2>
          <h3>Beat</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Beat: The UK's eating disorder charity. </a>
                <div>www.b-eat.co.uk</div>
                </li>
                <li><tel>Phone: 0808 801 0677</tel> (adults)
                </li>
                <li><tel>Phone: 0808 801 0711 </tel> (for under-18s)
                </li>
            </ul>
          </nav>
          <hr>

          <h2>Gambling</h2>
          <h3>Gamblers Anonymous</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Gamblers Anonymous: stopping gambling with the help of regular face-to-face and online support groups. </a>
                <div>www.gamblersanonymous.org.uk</div>
                </li>
                <li><tel>Phone: 0330 094 0322 </tel> (24-hour)
                </li>
            </ul>
          </nav>


          <h3>Gam-Anon</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Gam-Anon: for those affected by someone else’s gambling with the help of regular face-to-face and online support groups. </a>
                <div>www.gamanon.org.uk</div>
                </li>
                <li><tel>Phone: 08700 50 88 80 </tel>
                </li>
            </ul>
          </nav>


          <h3>National Gambling Helpline</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">National Gambling Helpline: be gamble aware. </a>
                <div>www.begambleaware.org</div>
                </li>
                <li><tel>Phone: 0808 8020 133 </tel> (daily, 8am to midnight)
                </li>
            </ul>
          </nav>


          <h3>National Problem Gambling Clinic</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">National Problem Gambling Clinic: a specialist NHS clinic for problem gamblers aged 13 and over. </a>
                <div>www.cnwl.nhs.uk</div>
                </li>
                <li><tel>Phone: 020 7381 7722 </tel> (callback)
                </li>
            </ul>
          </nav>
      <hr>

          <h2>Learning disabilities</h2>
          <h3>Mencap</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Mencap: charity working with people with a learning disability, their families and carers. </a>
                <div>www.mencap.org.uk</div>
                </li>
                <li><tel>Phone: 0808 808 1111 </tel> (Monday to Friday, 9am to 5pm)
                </li>
            </ul>
          </nav>
<hr>

          <h2>Parenting</h2>
          <h3>Family Lives</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Family Lives: Advice on all aspects of parenting, including dealing with bullying. </a>
                <div>www.familylives.org.uk</div>
                </li>
                <li><tel>Phone: 0808 800 2222 </tel> (Monday to Friday, 9am to 9pm and Saturday to Sunday, 10am to 3pm)
                </li>
            </ul>
          </nav>

          <hr>

          <h2>Relationships</h2>
          <h3>Relate</h3>
          <nav role="navigation">
            <ul class="nhsuk-external-link">
              <li><a href="">Relate: the UK&#x27;s largest provider of relationship support. </a>
                <div>www.relate.org.uk</div>
                </li>
            </ul>
          </nav>



    </div>


    <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>Related information</h2>
          <li><a href="../level-two/therapy">Talking therapies</a></li>
          <li><a href="">Guides, tools and activities</a></li>
          <li><a href="../level-two/nhs-services">NHS services</a></li>
      </ul>

      </div>


  </div>

</div>
     <!-- End of content -->

{% endblock %}
