<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-one/cyp">Children and young people's mental health</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-two/advice-for-parents">Advice for parents</a></li>
          
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-two/advice-for-parents">Advice for parents</a></p>
        </div>
      </nav>
</div>
</div>
      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <!-- Change the page title here -->
      <h1>
       
        Coping with your teenager
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

 
      <p class="nhsuk-body"><strong>
        Many parents find their teenager's behaviour challenging. </p></strong>

<p>Teenagers&#x27; behaviour can be baffling, stressful, hurtful and often worrying. But in most cases it does not mean there is anything more serious going on than the natural process of becoming an adult.</p>
<p>Many of the common behaviour issues that parents find hard are an essential part of <a href="javascript:void(0)">puberty</a> and growing up.</p>
<p>Surges of hormones, combined with body changes, struggling to find an identity, pressures from friends and a developing sense of independence, mean the teenage years are a confusing time for your child.</p>
<p>It can mean they, for example:</p>
<ul>
  <li>become aloof</li>
  <li>want more time alone or with friends</li>
  <li>feel misunderstood</li>
  <li>reject your attempts to talk or show affection</li>
  <li>appear sullen and moody</li>
</ul>
<p>Read more about the <a href="worried-teen">possible signs of a problem in your teenager</a>.</p>

<h2>Your feelings about your teen&#x27;s behaviour</h2>
<p>Teenagers can challenge even the calmest of parents. When you have further pressures in your life, such as other children, work, relationships, family commitments or illness, it can feel as though your teenager is going to push you over the edge.</p>
<p>Try to step back from the situation, and remember your child or young person may have physiological reasons for behaving in ways that can be difficult to live with. They&#x27;re probably not enjoying it either.</p>
<p>You&#x27;re the adult and you will feel that it&#x27;s your responsibility to guide them through the difficult times, but that is not always easy. Do not expect to enjoy your time with them all of the time, and remember to look after yourself.</p>
<h2>How do I cope with the stress?</h2><p>Parenting a teenager can be exhausting, so it&#x27;s important to look after yourself, too.</p>
<p><a href="javascript:void(0)">Family Lives</a>, a charity dedicated to helping families, offers the following advice:  </p>

<ul>
  <li>make sure you set aside time for yourself</li>
  <li>give yourself permission to relax or even treat yourself occasionally</li>
  <li>talk about your concerns to your partner or friends, or join a support group or forum</li>
  <li>learn techniques for coping with <a href="low-mood">low mood sadness and depression</a> or <a href="anxiety-fear-panic">anxiety</a>. If you’re concerned that you’re depressed, anxious or stressed, talk to a GP</li>
</ul>
<h2>How should I act with my teenager?</h2>
<p>Teenagers can be largely emotional rather than logical because of their hormones. It is not necessarily pleasant for them, and it can even feel frightening.</p>
<p>Although it might be hard for you, they need you to maintain a calm consistent presence.</p>
<p>Follow these tips:</p>
<ul>
  <li>decide what the boundaries are and stick to them – teenagers may object to these but know they&#x27;re a sign that you care for and about them</li>
  <li>listen to them when they do want to talk and try not to interrupt until they&#x27;ve finished speaking</li>
  <li>allow them to learn from their own mistakes – as long as they are safe – and accept they might do things differently to you</li>
  <li>do not bottle up your concerns – if you&#x27;re worried your teenager may be having unprotected sex or using drugs, try talking calmly and direct them to useful information, such as these articles on <a href="javascript:void(0)">drugs</a> or <a href="javascript:void(0)">getting contraception</a>.</li>
  <li>allow them to have their own space and privacy</li>
</ul>
<p>The Relate website has more information about <a href="javascript:void(0)">parenting teenagers</a> that covers many of these subjects.</p>
<h2>Where can I find more information and support?</h2>
<p>If you&#x27;re concerned about the physical or mental health of your child or young person it may be a good idea to speak to a GP. </p>
<p>You can also read more about <a href="javascript:void(0)">children and young people&#x27;s mental health services (CYPMHS)</a>.</p>
<p>There are also several organisations that provide emotional support and practical advice. You could try:</p>
<ul>
  <li><a href="javascript:void(0)">Family Lives</a> is a charity specialising in supporting families. You can call their confidential helpline on 0808 800 2222 (9am to 9pm Monday to Friday, 10am to 3pm Saturday to Sunday). You can also visit their <a href="http://forum.familylives.org.uk/forum/">forums</a></li>
  <li><a href="javascript:void(0)">Relate</a> offers relationship advice and counselling. You can also use <a href="javascript:void(0)">Live Chat</a> to talk to a counsellor</li>
  <li><a href="javascript:void(0)">Young Minds</a>, the mental health charity, has a confidential parents&#x27; helpline. Call them on 0808 802 5544 (9.30am to 4pm Monday to Friday)</li></ul>
      




<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>Related information</h2>
          <li><a href="teen-aggression">Teen aggression and arguments</a></li>
          <li><a href="worried-teen">Worried about your teenager?</a></li>
          <li><a href="../level-two/therapy">Talking therapies</a></li>
      </ul>

      </div>
      </div>

     <!-- End of content -->
  
{% endblock %}
