<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototypes - Becca
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to find a hospital</a>
    </div>

    <!-- Change the page title here -->
    <h1>
     NHS.UK user ratings
    
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

  <h2 class="nhsuk-heading-m">What this data shows:</h2>
  <p>How users of this website have rated their health services.</p>

  <h2 class="nhsuk-heading-m">How the data is gathered</h2>
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
       Read how the data is gathered
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>This shows how other users of this website rated individual health services. Click on the link displayed below the rating to see their comments in full. By commenting on health services you have visited, you can help inform others.</p>
     <p>Not all health services have been rated by NHS.UK users. Help this system develop by searching for a health services you would like to comment on and adding your view now.</p>
    </div>
  </details>

  <h2 class="nhsuk-heading-m">Data source:</h2>
  <p>NHS.UK</p>

  <h2 class="nhsuk-heading-m">How often the data is updated:</h2>
  <p>Ratings are updated on a daily basis</p>
  <h2 class="nhsuk-heading-m">Further information:</h2>
  <p>More information about <a href="">NHS.UK user ratings</a></p>

  <h2 class="nhsuk-heading-m">Data supplier:</h2>
  <p>NHS.UK</p>
  </div>
</div>








      <!-- End of content -->

    </div>
  </div>
{% endblock %}
