<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find an NHS mental health crisis support service
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %}
<div class="nhsuk-global-alert" id="nhsuk-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-global-alert__content">
          <div class="nhsuk-global-alert__message">
            <h2>Coronavirus: stay at home</h2>
            <p>Only leave your home if it's essential. This will help stop the spread of <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">coronavirus</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Breadcrumb -->
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/crisis-support-finder/v2/find-a-service">Services near you</a></li>
        </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/crisis-support-finder/v2/find-a-service">Back to Services near you</a></p>
    </div>
  </nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="overview">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
      <!-- Change the page title here -->
      <h1>
        Finding your local helpline
      </h1>
   
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
  
      <p>We need to know where you are so we can find your local helpline.</p>
      <form action ="/crisis-support-finder/v2/finder/postcode-search-branch" method="post"> 
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-10">
          Enter the postcode, town or city in England
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="postcode" type="text">
      </div>

   <button class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-3" type="submit">Search</button> <br>
   <button class="nhsuk-button nhsuk-button--secondary" type="submit">Use your location</button>
</form>
  

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
