<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find mental health services
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %}
<div class="nhsuk-global-alert" id="nhsuk-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-global-alert__content">
          <div class="nhsuk-global-alert__message">
            <h2>Coronavirus: stay at home</h2>
            <p>Only leave your home if it's essential. This will help stop the spread of <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">coronavirus</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Breadcrumb -->
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="find-a-service">Services near you</a></li>
        </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="find-a-service">Back to Services near you</a></p>
    </div>
  </nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Find mental health services
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
  

    <ul class="nhsuk-list">
      <li><a href="">Help with stress, anxiety or depression (IAPT)</a></li>
      <li><a href="finder/overview">Urgent help from a local crisis support service</a></li>
      <li><a href="">Support from mental health charities </a></li>
      <li><a href="">Alcohol addiction</a></li>
      <li><a href="">Drug misuse</a></li>
      <li><a href="">Eating disorder support</a></li>
      <li><a href="">Relationship counselling</a></li>
      </ul>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Help for suicidal thoughts</h3>
        <p>You can <a href="">get help right now if you're feeling like you want to die</a></p>
      </div>



  

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
