<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-newia.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Mental Health
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

      <nav class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-0" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../mental-health">Mental health</a></li>

          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../mental-health">Mental health</a></p>
        </div>
      </nav>

      

      <!-- Change the page title here -->
      <h1>
       Feelings and symptoms
      
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Find information about feelings and symptoms that can affect your mental health.
      </p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="../level-one/get-help-now">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Get urgent help now for mental health</span>
        </a>
      </div>

    </div>
  </div>
      <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-bottom-4 nhsuk-u-padding-top-2">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                    <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Help for suicidal thoughts</h3>
                </div>
        </a>
            </div>
        </div>

      </div>

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full nhsuk-section__content">

<div class="nhsuk-grid-row nhsuk-grid-row--flex">


    <div class="nhsuk-grid-column-one-half ">
<div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="../level-two/feelings" style="background-color:#f0f4f5;">
        <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
          <h3 class="nhsuk-promo__heading">Feelings</h3>
          <p class="nhsuk-promo__description nhsuk-u-margin-bottom-2">
            Read about feelings related to mental health problems, including:
            <ul class="nhsuk-u-margin-top-0 nhsuk-u-padding-top-0">
              <li>anxiety, fear and panic</li>
              <li>low mood and depression</li>
              <li>stress</li>
            </ul>
          </p>
        </div>
      </a>
</div>
    </div>
    <div class="nhsuk-grid-column-one-half ">
      <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
              <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                <h3 class="nhsuk-promo__heading">Symptoms</h3>
                <p class="nhsuk-promo__description nhsuk-u-margin-bottom-2">
                  Read about symptoms related to mental health problems, including:
                  <ul class="nhsuk-u-margin-top-0 nhsuk-u-padding-top-0">
                    <li>self-harm</li>
                    <li>hallucinations or hearing voices</li>
                    <li>how to help someone with depression</li>
                  </ul>
                </p>
              </div>
            </a>
      </div>
          </div>

  </div>
  </div>
      </div>





      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

      <nav class="nhsuk-contents-list nhsuk-u-padding-top-6" role="navigation" aria-label="Pages in this guide">
        <h2 class>
          More in <a href="../mental-health">Mental health</a>
        </h2>
        <ul class="nhsuk-list app-side-nav__list">
          <li class="app-side-nav__item app-side-nav__item--current">Feelings and symptoms</li>
          <li class="app-side-nav__item"><a href="../level-one/mental-health-conditions">Mental health conditions</a></li>
          <li class="app-side-nav__item"><a href="javascript:void(0);">Talking therapies, medicines and other treatments</a></li>
          <li class="app-side-nav__item"><a href="../level-one/cyp">Children and young people's mental health</a></li>
        </ul>



      </nav>
  </div>

</div>
     <!-- End of content -->
  
{% endblock %}
