<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Armed forces charities
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-row nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare-op3">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Armed forces healthcare</a></p>
  </div>
  </nav>
  </div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">

    <!-- Change the page title here -->
    <h1>
Armed forces charities and support groups
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
      List of charities that can help serving personnel and veterans and their families.
    </p>


  </div>


<div class="nhsuk-grid-row nhsuk-u-margin-top-0">

<h2>Royal British Legion</h2>
<p>
  The charity helps armed forces personnel, reservists, veterans and their families all year round. They also campaign to improve lives and remember the fallen, as well as organising the Poppy Appeal.
  </p>

<p>
  <a href="">The Royal British Legion Website</a>
  </p>

  <h2>SSAFA</h2>
  <p>
A charity that provides lifelong emotional and practical support for serving personnel, reservists, veterans and their families.    </p>

  <p>
    <a href="">SSAFA website</a>
    </p>

    <h2>Help for Heroes</h2>
    <p>
The Help for Heroes charity provides practical support to wounded, injured and sick service personnel and veterans, and their families.
    <p>
      <a href="">Help for Heroes website</a>
      </p>


        <h2>The Soldiers' Charity</h2>
        <p>
        The Soldiers' Charity provides financial assistance to soldiers in need and their families, which includes debt relief, mobility assistance, education bursaries, care home fees and respite breaks.      <p>
          <a href="">The Soldiers' Charity website</a>
          </p>

          <h2>Blesma</h2>
          <p>
        Blesma, The Limbless Veterans, is dedicated to assisting serving and ex-servicemen and women who have experienced life-changing limb loss or the use of a limb, an eye loss of sight in the honourable service of our country.  </p>

        <p>
            <a href="">Blesma website</a>
            </p>

            <h2>Defence Medical Welfare Service (DMWS)</h2>
            <p>
DMWS provides practical and emotional support to military personnel, their families and other entitled civilians when they're in hospital, rehabilitation or recovery centres.
          <p>
              <a href="">DMWS website</a>
              </p>

              <h2>Combat Stress</h2>
              <p>
The charity Combat Stress provides veterans' mental health support and also has a dedicated mental health helpline for serving personnel and their families.</p>
<p>
  Call the helpline on <a>08003234444</a>
  </p>

  <p>
    You can also text <a>07537404719</a> or email <a>combat.stress@rethink.org</a></p>

<p><a href="">Combat Stress website</a></p>


<h2>Defence and National Rehabilitation Centre (DNRC)</h2>
<p>
The charity Combat Stress provides veterans' mental health support and also has a dedicated mental health helpline for serving personnel and their families.</p>
<p>
Call the helpline on <a>08003234444</a>
</p>

<p>
You can also text <a>07537404719</a> or email <a>combat.stress@rethink.org</a></p>

<p><a href="">Combat Stress website</a></p>

<h2>Togetherall</h2>
<p>
Togetherall is a charity providing safe, anonymous, round-the-clock online support, with trained counsellors available at all times. There's a supportive community and lots of free resources that all armed forces personnel, veterans and their families can use at any time.
<p>
  <a href="">Togetherall app</a>
  </p>
  <p>
    <a href="">Togetherall website</a>
    </p>

    <h2>Alcoholics Anonymous (AA)</h2>
    <p>
AA is a free self-help network. Its "12-step" programme involves getting sober with the help of regular support groups. AA believes people with drink problems need to give up alcohol permanently.    <p>
      <a href="">Alcoholics Anonymous webiste</a>
      </p>

      <h2>SMART Recovery</h2>
      <p>
SMART Recovery runs a network of self-help and mutual aid meetings where participants help themselves and fellow members with recovery from any kind of addictive behaviour.</p>
  <p><a href="">SMART Recovery website</a>
        </p>

        <div class="nhsuk-grid-row ">
          <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
              <ul class="key-links">
                  <h2>More in <a>Healthcare for the armed forces community</a></h2>
                  <li><a href="clinical-depression">Clinical depression</a></li>
                  <li><a href="gad">Generalised anxiety disorder</a></li>
                  <li><a href="">Sertraline</a></li>


              </ul>

              </div>
              </div>
<!-- End of content -->

{% endblock %}
