<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Armed Forces charities and support groups
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">
    <div class="nhsuk-grid-row nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare-op3">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-1/armed-forces-healthcare-op3">Armed forces healthcare</a></p>
  </div>
  </nav>
  </div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">

    <!-- Change the page title here -->
    <h1>
Charities and support groups
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find information about charities and support groups who help the armed forces community. </p>
  </div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">

  <h2>Find an armed forces charity</h2>

  <p>
    You can use the Confederation of Service Charities (Cobseo) directory to find information about specific armed forces charities, including contact details.
    </p>

    <p>
      Cobseo is an organisation that works with charities, the government and other armed forces groups to provide information and representation to everyone in the armed forces community.
      </p>

      <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="https://www.cobseo.org.uk/members/directory/">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Find an armed forces charity using the Cobseo directory</span>
  </a>
</div>

<h2>National organisations</h2>

<h3>SSAFA</h3>

<p class="nhsuk-u-font-weight-bold">
  For serving personnel, veterans and armed forces families.
  </p>

  <p>
    SSAFA  provides lifelong emotional and practical support. To get this support call their helpline or use their online chat Monday to Friday, 9 to 5.30pm.
    </p>

  <p style="margin-bottom:0px;">
  <a href="https://www.ssafa.org.uk/" class="nhsuk-link">SSAFA website</a>
  </p>

  <p>
    www.ssafa.org.uk
    </p>

  <p>
    Helpline: <a href="">0800 260 6767</a>
    </p>

    <h3>Combat Stress</h3>

    <p class="nhsuk-u-font-weight-bold">
For serving personnel, veterans and armed forces families.       </p>

    <p>
The charity Combat Stress provides self help advice on their website. They offer mental health helplines for 24/7 confidential advice and support

<p style="margin-bottom:0px;">
  <a href="https://combatstress.org.uk/" class="nhsuk-link">Combat Stress website</a>
      </p>

      <P>
        www.combatstress.org.uk
        </P>

      <p>
        Veterans and their families helpline: <a href="">0800 138 1619</a>
        </p>

        <p>
          Serving personnel and their families helpline: <a>0800 323 4444</a>
          </p>

          <p>
            You can also text on <a>07537 404719</a> and email <a>helpline@combatstress.org.uk</a>
            </p>

<h3>Royal British Legion</h3>

<p class="nhsuk-u-font-weight-bold">
  For serving personnel, veterans and armed forces families.
  </p>

  <p>
    The Royal British Legion gives advice and support on wellbeing on their website and through their community branches. For additional advice and support the Royal British Legion’s online chat and helpline works 8am to 8pm, 7 days a week.
    </p>

<p style="margin-bottom:0px;">
  <a href="https://www.britishlegion.org.uk" class="nhsuk-link">The Royal British Legion Website</a>
  </p>
  <p>
    www.britishlegion.org.uk
    </p>

  <p>
    Helpline: <a href="">08088028080</a>
    </p>

    <p>
      Live chat: <a href="">RBL - Support Login (britishlegion.org.uk)</a>
      </p>

      <h3>STOLL</h3>

      <p class="nhsuk-u-font-weight-bold">
        For veterans who struggle to live independently.
        </p>

        <p>
          Provides housing and support services to help veterans live independently.
          </p>

      <p style="margin-bottom:0px;">
        <a href="http://www.stoll.org.uk/" class="nhsuk-link">The Royal British Legion Website</a>
        </p>
        <p>
          www.stoll.org.uk
          </p>






        <h3>Service Families Federations</h3>

        <p class="nhsuk-u-font-weight-bold">
For serving personnel and their families. </p>

        <p>
The 3 Service Families Federation offer independent and confidential advice on a range of issues for all service families.
</P>

<p><a href="https://nff.org.uk/">
Website for Naval Families
</a></p>

<p><a href="https://aff.org.uk/">
Website for Army Families
</a></p>

<p><a href="https://www.raf-ff.org.uk/">
Website for Royal Air Force Families
</a></p>

<h3>Walking with the Wounded</h3>

<p class="nhsuk-u-font-weight-bold">
For veterans and their families. </p>

<p>
  Walking with the Wounded offers support services on issues including mental health, employment, criminal justice and addiction. Their website offers information on how to be referred to their services
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://walkingwiththewounded.org.uk/">Walking with the Wounded website</a>
    </p>

    <p>
      www.walkingwiththewounded.org.uk
      </p>

<h3>Veterans Gateway</h3>

        <p class="nhsuk-u-font-weight-bold">
For veterans and their families. </p>

<p>
  Veterans Gateway provides wellbeing support and advice on their website and with their 24/7 Live Chat, text messaging and helpline.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://www.veteransgateway.org.uk/">The Veterans Gateway website</a></p>

  <p>
    www.veteransgateway.org.uk
    </p>

    <p>
      Helpline: <a>08088021212 </a>
      </p>

      <p>
        Text chat: <a>81212</a>
        </p>

  <p>
    <a href="">The Veterans Gateway live chat</a>
    </p>

<h3>Help for Heroes</h3>

<p class="nhsuk-u-font-weight-bold">
For wounded, injured and sick serving personnel, veterans and their families.  </p>

<p>
  The Help for Heroes charity provides physical, psychological, financial and welfare support to wounded, injured and sick service personnel and veterans, and their families. Contact Help for Heroes through their website to see how they can support you.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://www.helpforheroes.org.uk/">Help for Heroes website</a>
    </p>

    <p>
      www.helpforheroes.org.uk
      </p>

<h3>Defence Medical Welfare Service (DMWS)</h3>

<p class="nhsuk-u-font-weight-bold">
For serving personnel, veterans and armed forces families.  </p>

<p>
  DMWS provides practical and emotional support to military personnel, their families and other entitled civilians when they're in hospital, rehabilitation or recovery centres.
  </p>

  <p style="margin-bottom:0px;">

    <a href="https://dmws.org.uk/">The Defence Medical Welfare Service website</a>
    </p>

    <p>
      www.dmws.org.uk
      </p>



<h3>Togetherall</h3>

<p class="nhsuk-u-font-weight-bold">
For serving personnel, veterans and armed forces families. </p>

<p>
  Togetherall is a mental health support service that provides anonymous, round-the-clock online support, with trained counsellors available at all times. There's a supportive community and lots of free resources that all armed forces personnel, veterans and their families can use at any time.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://togetherall.com/en-gb/">Togetherall website</a>
    </p>

    <p>
      www.togetherall.com
      </p>

<h2>Armed forces charities for people with specific healthcare conditions </h2>

<h3>Blind Veterans</h3>

<p class="nhsuk-u-font-weight-bold">
For veterans who have experienced sight loss and their families. </p>

<p>
  Blind Veterans offers community groups, rehabilitation and support with care as well as advice on their website.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://www.blindveterans.org.uk/">Blind Veterans website</a>
    </p>

    <p>
      www.blindveterans.org.uk
      </p>

    <p>
      Phone number: <a>0800 389 7979</a>
      </p>

<h3>Blesma</h3>

<p class="nhsuk-u-font-weight-bold">
For veterans who have experienced life-changing limb loss or the use of a limb, an eye loss during service and their families. </p>

<p>
  Blesma, The Limbless Veterans, offers advice and support through their local support officers. Blesma also provides financial assistance to help with the additional costs of disability.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://blesma.org/">Blesma website</a>
    </p>

    <p>
      www.blesma.org
      </p>

  <p>
    Blesma phone number: <a>020 8590 1124</a>
    </p>

<h2>Women's armed forces charities</h2>

<h3>Salute Her UK</h3>

<p class="nhsuk-u-font-weight-bold">
For women veterans who are survivors of military sexual trauma and their families. </p>

<p>
Salute Her UK provides a support service which offers mental health therapy and interventions for women survivor of military sexual trauma in a single sex environment.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://www.forward-assist.com/salute-her">Salute Her UK website</a>
    </p>

    <p>
      www.forward-assist.com/salute-her
      </p>

<h2>LGBT+ armed forces charities</h2>

<h3>Fighting with pride</h3>

<p class="nhsuk-u-font-weight-bold">
For LGBT+ serving personnel, veterans and their forces families. </p>

<p>
  Fighting with Pride advise on how to get help and provide information for LGBT+ members of the armed forces community.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://www.fightingwithpride.org.uk/">Fighting with Pride website</a>
    </p>

    <p>
      www.fightingwithpride.org.uk
      </p>

<h2>Addiction charities</h2>

<h3>Alcoholics Anonymous (AA)</h3>

<p>
  AA is a free self-help network. Its "12-step" programme involves getting sober with the help of regular support groups. AA believes people with drink problems need to give up alcohol permanently.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://www.alcoholics-anonymous.org.uk/">Alcoholics Anonymous website</a>
    </p>

    <p>
      www.alcoholics-anonymous.org.uk
      </p>

<h3>SMART Recovery</h3>

<p>
  SMART Recovery runs a network of self-help and mutual aid meetings where participants help themselves and fellow members with recovery from any kind of addictive behaviour.
  </p>

  <p style="margin-bottom:0px;">
    <a href="https://smartrecovery.org.uk/">SMART Recovery website</a>
    </p>

    <p>
      www.smartrecovery.org.uk
      </p>


        <div class="nhsuk-grid-row ">
          <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
              <ul class="key-links">
                  <h2>More in <a>Healthcare for the armed forces community</a></h2>
                  <li><a href="veterans">Healthcare for armed forces veterans</a></li>
                  <li><a href="serving-personnel">Healthcare for serving personnel</a></li>
                  <li><a href="transition">Leaving the armed forces</a></li>
                  <li><a href="nhs-services">Using NHS services</a></li>
                  <li><a href="mental-health-st">Mental health support</a></li>

              </ul>

              </div>
              </div>
<!-- End of content -->

{% endblock %}
