<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Armed forces Healthcare
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare-op3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare-op3">Leaving the armed forces</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/armed-forces-healthcare-op3">Back to Level three</a></p>
  </div>
</nav>

</div>
</div>


    <!-- Change the page title here -->
    <h1>
      Armed forces mental health
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

        <p class="nhsuk-lede-text">
          Mental health problems are common and can affect anyone, including veterans, serving personnel and their families. It is important to get help and support if you or someone you know is struggling with mental health.
        </p>



  </div>
</div>






      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">





<ul class="key-links">
  <li><a href="../level-3/mental-health-veterans">Mental health support for veterans, service leavers and non-mobilised reservists</a></li>
  <li><a href="../level-3/mental-health-serving-personnel">Mental health support for serving personnel and mobilised reservists</a></li>

</ul>

</div>
</div>












<!-- End of content -->

{% endblock %}
