<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Support when leaving the armed forces
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-1/armed-forces-healthcare">Armed forces healthcare</a></p>
  </div>
  </nav>



    <!-- Change the page title here -->
    <h1>
Support when leaving the armed forces
    </h1>

    <p class="nhsuk-lede-text">
      Find information and support to help you move from military healthcare to civilian healthcare after leaving the armed forces.
      </p>

      <p>
        Leaving the armed forces can be a daunting process to undertake. Understanding what options you have and what actions you can take will help make your transition from military healthcare to civilian healthcare as smooth as possible.
        </p>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <!-- <p class="nhsuk-lede-text">
      How the NHS can help if you're in the British armed forces, a veteran or a family member of someone who is serving or who has served.
    </p> -->


  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

<h2>Changes to healthcare when you leave the armed forces</h2>

<p>
After your discharge date, you will move from dedicated serving personnel healthcare to civilian and veteran healthcare.
 </p>

 <p>
   Most of your treatment will come through <a href="nhs-services">NHS services</a>, which includes dedicated <a href="veterans">healthcare services designed to support veterans</a>.
   </p>

     <p>
       <a href="../level-3/mental-health-veterans">There are also services that support veterans mental health. </a>
       </p>

       <h2>Actions to take when moving to civilian healthcare</h2>

       <p>
     If you are unsure of what to do when you leave the armed forces, there are several actions you can take to make your transition from military to civilian healthcare easier.
         </p>

         <div class="nhsuk-do-dont-list">
       <h3 class="nhsuk-do-dont-list__label">Do</h3>
       <ul class="nhsuk-list nhsuk-list--tick">
         <li>
           <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
             <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
           </svg>
           collect your medical records and documents
         </li>
         <li>
           <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
             <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
           </svg>
           talk to a medical officer about continuing treatment
         </li>
         <li>
           <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
             <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
           </svg>
           register with an NHS GP surgery
         </li>
         <li>
           <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
             <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
           </svg>
           help your GP access your military medical records
         </li>
         <li>
           <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
             <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
           </svg>
           tell a GP to record you as a veteran
         </li>
         <li>
           <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
             <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
           </svg>
           find a dentist
         </li>
       </ul>
     </div>

     <h3>Collect your medical records and documents</h3>

     <p>
You can get 3 documents when leaving the armed forces that can help continue your healthcare without disadvantage. These are:
       </p>

       <ul>
         <li>
           an NHS welcome letter that explains the process of transferring from military healthcare to an NHS GP surgery and civilian dentist, as well as information on what a GP can do to help you as a veteran
           </li>
           <li>
             a form (FMed133A) that includes important details for your GP surgery, including a summary of medical treatments, vaccinations and specialist care received
             </li>
             <li>
               a paper copy of your summary medical records, which contains more detailed information about the medical treatment you have received while in the armed forces
               </li>
         </ul>

         <p>
           You will usually receive the NHS welcome letter and the form during your final medical assessment at the end of your discharge period. If you do not receive them, ask a doctor at a medical centre to get them for you as soon as possible.
           </p>

           <p>
             You will not usually be given a paper copy of your summary medical records unless you ask a doctor at your medical centre. It is better to ask for this earlier in your discharge period as it may take a while to arrive if they agree to provide a copy.
             </p>

             <h3>Talk to a medical officer about continuing treatment</h3>

             <p>
               If you receive specialist healthcare treatment or are medically discharged, it is important to ask a medical officer about how you can continue your treatment after your discharge date.
               </p>

               <p>
                 There are services who can provide support and treatment to you during your discharge period and after your discharge date. These include:
                 </p>

                 <ul>
                   <li>
                     the <a href="veterans">Veterans Trauma Network</a>, for physical injuries caused during service
                     </li>
                     <li>
                       <a href="../level-3/mental-health-veterans">Op COURAGE: the Veterans Mental Health and Wellbeing Service</a>
                       </li>
                   </ul>

                   <p>

Ask a medical officer about getting a referral to these services if you need them.

                     </p>


                         <h3>Register with an NHS GP surgery</h3>

                         <p>
                          It is recommended you register with a GP 1 to 3 months before you are discharged, or as soon as possible after this if you have not already.
                           </p>

                           <div class="nhsuk-action-link">
                       <a class="nhsuk-action-link__link" href="../../register-gp">
                         <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                           <path d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                         </svg>
                         <span class="nhsuk-action-link__text">Register with a GP surgery</span>
                       </a>
                     </div>



                       <p>
                         If you register early, your GP surgery can request your complete military medical records from Defence Medical Services (DMS) as soon as possible. This may happen before  the end of your discharge period.
                         </p>



                           <p>
                             Your GP surgery will automatically receive any previous NHS medical records you may have when you register.
                             </p>

                         <p>
                           Once your GP surgery has your full military medical records, a GP can give you better healthcare advice, as well as quickly refer you to any specialist care you might need.
                           </p>

                           <h3>Help your GP access your military medical records</h3>

                           <p>
                             When you first visit a GP at your GP surgery, it is important to give them the medical summary form (FMed133A) you received when you were discharged from the armed forces.This form includes the details needed for them to request your complete medical records from DMS.
                             </p>

                             <p>
                               Once you have given them your form, you can check with a GP at a later date to make sure your full medical records have been requested.
                               </p>

                               <p>
                                 It usually takes several months for your GP surgery to receive your records.
                                 </p>

                             <p>
                               You can also give them a paper copy of your summary medical records if you got one during your discharge period. They might need this if they do not have access to your full military medical records yet.
                               </p>

                               <p>
                                 Once a GP has your complete medical records, they will be aware of your medical history and can give you the treatment you need.
                                 </p>



                               <p>
                                 You can also give them your NHS welcome letter. This provides information to them about how to help you.
                                 </p>

                                 <p style="margin-bottom:0px;">
                                   <a href="">GOV.UK: Find information about and get a copy of your own medical records</a>
                                   </p>

                                   <p>
                                     www.gov.uk
                                     </p>

                                 <details class="nhsuk-details">
                       <summary class="nhsuk-details__summary">
                         <span class="nhsuk-details__summary-text">
                           Accessing full medical records without an FMed133A form
                         </span>
                       </summary>
                       <div class="nhsuk-details__text">
                         <p>
                           If you or a GP has lost the form containing the information on how they can access your full medical records, a GP can email to arrange its transferral instead.
                           </p>

                           <p>
                             For Royal Navy/Royal Marines: <a>NAVYINM-RNServiceLeavers@mod.gov.uk</a>
                             </p>

                             <p>
                               For British Army: <a>APC-sp-disclosures3@mod.gov.uk</a>
                              </p>

                               <p>
                                 For Royal Air Force: <a>Air-COSPers-Disclosures@mod.gov.uk</a>
                                 </p>


                       </div>
                     </details>

                     <h3>Tell a GP to record you as a veteran in your NHS medical records</h3>

                     <p>
                       When you first visit your GP surgery, it is important to tell a GP or other clinical member of staff that you are a veteran.
                       </p>

                       <p>
                         Ask them to record this in your NHS medical records if it is not already there. They can do this by putting a specific code that represents veterans into your medical records.
                         </p>

                       <p>
                         Being flagged as a veteran means you are more likely to receive specialist veteran care and consideration, and GPs are able to refer you to specialist veteran services if you need them.
                         </p>

                         <h3>Find a dentist</h3>

                         <p>
                           Your NHS welcome letter will also encourage you to find a dentist.
                           </p>

                           <p>
                             It is important to do this as soon as possible.
                             </p>

                             <p>
                               You may also need to find a dentist for your family too.
                               </p>

                               <p>
                                 Finding a dentist sooner rather than later allows you to continue getting dental treatment with less of a wait. It also means you can get urgent treatment closer to when you need it.
                                 </p>

                             <p><a href="">Find more information about getting dental care
                               </a></p>

                               <h2>Leaving the armed forces as a commonwealth veteran</h2>

                               <p>
                               If you are a commonwealth member of the armed forces, the process of transitioning from military healthcare is different.
                                 </p>

                                 <p>
                                   You will receive free healthcare up to your discharge date.
                                   </p>

                                   <p>
                                     In order to receive free healthcare through the NHS after this date, you must gain indefinite leave by <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/moving-to-england-from-outside-the-european-economic-area-eea/">applying to settle in the UK</a>.
                                     </p>


                               <details class="nhsuk-details nhsuk-expander">
                               <summary class="nhsuk-details__summary">
                               <span class="nhsuk-details__summary-text">
                               When to apply for UK settlement
                               </span>
                               </summary>
                               <div class="nhsuk-details__text">

                                   <div class="nhsuk-inset-text">
                               <span class="nhsuk-u-visually-hidden">Information: </span>



                                   <ul>
                                     <li>
                                       you must apply within 2 years of your discharge date
                                       </li>
                                       <li>
                                         the earliest you can apply is 10 weeks before your discharge date
                                         </li>
                                         <li>
                                           it is recommended you apply as soon as possible after the 10 week point
                                           </li>
                                           <li>
                                             you will not receive free NHS healthcare after your discharge date and before you have gained indefinite leave
                                             </li>
                                         </ul>
                                         </div>





                               </details>

                               <p>
                               The process may differ depending on how long you served and where you served, as well as if you have family members who are also looking to settle in the UK.
                               </p>

                               <p style="margin-bottom:0px;">
                               <a href="https://www.gov.uk/settle-in-the-uk/y/you-re-in-or-have-been-in-hm-forces">GOV.UK: Find more information on settling in the UK after serving in the armed forces</a>
                               </p>

                               <p>
                                 www.gov.uk
                                 </p>
                               </div>





                               </div>


                               <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
                                 <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

                               <h2>Get support during your transition period</h2>

                               <p>
                                 If you need help during the transition period after leaving the armed forces, there are many services and organisations that can support you.
                                 </p>

                                 <p>
                                   These services cover various issues, including healthcare, welfare, financial support and family care.
                                   </p>

                                   <h3>Veterans Welfare Services</h3>

                                   <p>
                                     The Veterans Welfare Service provides one-to-one advice and support to all veterans, their families and carers. This includes veterans who have been medically discharged.
                                     </p>

                                     <p>
                                       It is run by the MoD and Veterans UK.
                                       </p>

                                       <p style="margin-bottom:0px;">
                                         <a href="https://www.gov.uk/guidance/veterans-welfare-service">GOV.UK: Find more information and get in touch with the Veterans Welfare Service </a>
                                         </p>
                                         <p>
                                           www.gov.uk
                                           </p>


                                   <h3>Defence Transition Services</h3>

                                   <p>
                                     Defence Transition Services (DTS) helps service leavers and their families by providing tailored care and support to improve your transition period.
                                     </p>

                                     <p>
                                       It is run by the Ministry of Defence (MoD) and Veterans UK.
                                       </p>

                                       <p>
                                         DTS works closely with the service leaver and their family to prepare support specific to your situation. They can introduce you to other services and organisations if you need help from them, and will help identify, assess and support your individual and family needs.
                                         </p>

                                         <p>
                                           There are many ways to access DTS, including:
                                           </p>

                                           <ul>
                                             <li>
                                               self referral
                                               </li>
                                               <li>
                                                 referral from another service or organisation
                                                 </li>
                                                 <li>
                                                   referral from your in-service unit
                                                   </li>
                                             </ul>

                                             <p style="margin-bottom:0px;">
                                               <a href="https://www.gov.uk/guidance/help-and-support-for-service-leavers-and-their-families">GOV.UK: Find more information about DTS, including how to access it</a>
                                               </p>

                                               <p>
                                                 ww.gov.uk
                                                 </p>


                                               <h3>Veterans UK</h3>

                                               <p>
                                                 Veterans UK is an organisation run by the MoD. They offer advice and support on many issues, including financial benefits, housing and welfare.
                                                 </p>

                                                 <p>
                                                   There are many ways to contact Veterans UK, including a telephone helpline.
                                                   </p>

                                                   <p style="margin-bottom:0px;">
                                                     <a href="https://www.gov.uk/guidance/veterans-uk-contact-us">GOV.UK: Find more information and get in touch with Veterans UK</a>
                                                     </p>

                                                     <p>
                                                       www.gov.uk
                                                       </p>



                                                           <h3>Integrated Personal Comissioning for Veterans (IPC4V)</h3>

                                                           <p>
                                                             Veterans with a long-term physical, mental or neurological health condition or disability can get dedicated personalised care through Integrated Personal Commissioning for Veterans (IPC4V).
                                                             </p>

                                                             <p>
                                                               This is a joint NHS and MoD programme.
                                                               </p>

                                                               <p>
                                                                 IPC4V is only available for veterans with specific health and well-being needs. You cannot self refer.
                                                                 </p>

                                                                 <p>
                                                                   If you are eligible, you can get a range of support, including:
                                                                   </p>

                                                                   <ul>
                                                                     <li>
                                                                       working with health and social care services and military charities to make a personalised care plan
                                                                       </li>
                                                                       <li>
                                                                         planned support from services, community groups and charities
                                                                         </li>
                                                                     </ul>

                                                                 <p>
                                                                   Contact your local clinical commissioning group or ask a GP for information on how to get help from IPC4V.
                                                                   </p>

                                                                   <h2>Specialist services for veterans</h2>

                                                                   <p>
                                                                     If you are a veteran with specific serious injuries or mental health problems, a GP may be able to refer you to a number of specialist services during or after your transition from the armed forces.
                                                                     </p>

                                                                     <p>
                                                                       There are many different types of services, including:
                                                                       </p>

                                                                       <ul>
                                                                         <li>
                                                                           support for disabled veterans
                                                                           </li>
                                                                           <li>
                                                                             welfare support
                                                                             </li>
                                                                             <li>
                                                                               financial healthcare
                                                                               </li>
                                                                               <li>
                                                                                 mental health
                                                                                 </li>
                                                                                 <li>
                                                                                   family and carer support
                                                                                   </li>
                                                                         </ul>

                                                                         <p>
                                                                           <a href="veterans">Find more information on veteran healthcare and specialist services</a>
                                                                           </p>

                                                                           <p>
                                                                             <a href="../level-3/mental-health-veterans">Find more information on veteran mental health services</a>
                                                                             </p>



         </div>
         </div>


























      <div class="nhsuk-grid-row ">
        <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
            <ul class="key-links">
                <h2>More in <a>Healthcare for the armed forces community</a></h2>
                <li><a href="veterans">Healthcare for armed forces veterans</a></li>
                <li><a href="nhs-services">Using NHS services</a></li>
                <li><a href="serving-personnel">Healthcare for serving personnel</a></li>
                <li><a href="charities">Armed forces charities and support groups</a></li>
                <li><a href="mental-health-st">Mental health support</a></li>

            </ul>

            </div>
            </div>






<!-- End of content -->

{% endblock %}
