<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-af.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Veterans, service leavers, and non-mobilised reservists
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-top-0">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background:none;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../nhs-services-1">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../level-1/armed-forces-healthcare-op3">Armed forces healthcare</a></li>
      <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Leaving the armed forces</a></li> -->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../level-1/armed-forces-healthcare-op3">Armed forces healthcare</a></p>
  </div>
  </nav>




    <!-- Change the page title here -->
    <h1>
Veterans, service leavers, and non-mobilised reservists
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <p class="nhsuk-lede-text">
Find healthcare and welfare support dedicated to veterans, service leavers, non-mobilised reservists, and their families and carers. </p>

<p>All veterans, non-mobilised reservists and their family members and carers can access a range of specialist healthcare and support created to provide treatment and care for many different problems.</p>

<h2>Who counts as a veteran?</h2>

<p>
  You are a veteran if you have served in the armed forces for at least 1 day.
  </p>

  <p>
    Reservists who are not mobilised are also given the status of veteran until they return to actively serving.
    </p>

  <p>
    If you are a mobilised reservist registered with Defence Medical Services (DMS), find information about your healthcare on the <a href="serving-personnel">healthcare for serving personnel page</a>.
    </p>

    <h2>Help for service leavers</h2>

    <p>
      During and after your discharge period, there are a number of actions you can take to help NHS and specialist veteran services support you.
      </p>

      <p>
        <a href="transition">
        Find more information on transitioning from military to civilian healthcare
        </a></p>

    <h2>Support for health problems not caused by service</h2>

    <p>
      If you have a new or existing health problem that is not caused by your time in the armed forces, you can use NHS services to get treatment.
      </p>

      <!-- <p>
        You will only be able to use to specialist veteran services if your health problem was caused by your time in the armed forces.
        </p> -->

        <p>
          If you have not already, it is important to <a href="../../register-gp">register with a GP surgery</a> as soon as possible and to tell them you are a veteran. A GP can help refer you to NHS or dedicated veteran specialist services.
          </p>

              <p>
                <a href="nhs-services">
                Find more information about NHS services and how to access them
                </a>
                </p>

                <h3>Waiting lists and priority treatment</h3>

                <p>
                  If you have a health problem not caused by your time in the armed forces, you may go on to a waiting list before you can get full treatment from the NHS. This is the usual process for NHS treatment.
                  </p>

                  <p>
                    If you have a health problem caused by your time in the armed forces, you will usually go on a waiting list before you get care. However, you may be able to get NHS care quicker than normal through priority treatment for veterans.
                    </p>

                    <p>
                      Priority treatment is not guaranteed. Getting priority treatment depends on your situation and the nature of the treatment required. This includes:
                      </p>

                      <ul>
                        <li>
                          if other people have a higher clinical need than you
                          </li>
                          <li>
                            the urgency of your treatment
                            </li>
                            <li>
                              the type of treatment you need
                              </li>
                        </ul>

                    <p>
                      Check with a GP if you can get priority treatment for the NHS service you need.
                      </p>

                      <p>
                        <a href="nhs-services">Find more information on waiting lists and priority treatment</a>
                        </p>

                        <h3>Veteran friendly GP surgeries and trusts</h3>

                        <p>
                          Some GP surgeries and NHS trusts have staff trained to be aware of health problems that veterans might face.
                          </p>

                          <p>

These are referred to as veteran friendly or veteran aware.

                            </p>

                            <p>
                              These are designed to support you with your healthcare in many ways, including:
                              </p>

                              <ul>
                                <li>
                                  having medical staff with military healthcare backgrounds
                                  </li>
                                  <li>
                                    having staff trained to treat health problems that commonly affect veterans
                                    </li>
                                    <li>
                                      having knowledge of specialist NHS and DMS services designed specifically for members of the armed forces
                                      </li>
                                </ul>

                                <p>
                                  You can contact a GP surgery to ask if they are veteran friendly.
                                  </p>

                            <p style="margin-bottom:0px;">
                              <a href="https://www.england.nhs.uk/personalisedcare/upc/ipc-for-veterans/veteran-aware-nhs-trusts/">
NHS England: Find a veteran aware NHS trust
</a>
                              </p>

                              <p>
                                www.england.nhs.uk
                                </p>

                                <h2>Support for physical health problems caused by service</h2>

                                <p>
                                  There are DMS and NHS services dedicated to treating and supporting veterans who have physical health problems caused by their time in the armed forces.
                                  </p>

                                  <h3>Veterans Trauma Network (VTN)</h3>

                                  <p>
                                    The Veterans Trauma Network (VTN) is an NHS service that provides specialist care and treatment to veterans who have physical health problems as a result of their time in the armed forces.
                                    </p>

                                    <p>
                                      The VTN does not provide <a href="../level-3/mental-health-veterans">veteran mental health support</a>, but works alongside Op COURAGE: the Veterans Mental Health and Wellbeing Service.
                                      </p>

                                      <h4>How the Veterans Trauma Network can support you</h4>

                                      <p>
                                        The VTN works closely with many organisations, including:
                                        </p>

                                        <ul>
                                          <li>
                                            GP surgeries
                                            </li>
                                            <li>
                                              specialist NHS services
                                              </li>
                                              <li>
                                                military and non-military charities
                                                </li>

                                          </ul>

                                          <p>
                                            The VTN can support you by:
                                            </p>

                                            <ul>
                                              <li>
                                                providing personalised treatment within the NHS
                                                </li>
                                                <li>
                                                  treating you through military and civilian clinicians who understand the military environment and specialise in the type of physical health problems you have
                                                  </li>
                                                  <li>
                                                    helping families and carers of veterans with physical health problems access appropriate support services
                                                    </li>
                                              </ul>

                                              <h4>Who the Veterans Trauma Network can help</h4>

                                              <p>
                                                The VTN can support you:
                                                </p>

                                                <ul>
                                                  <li>
                                                    if you have a physical health problem of any type or severity
                                                    </li>
                                                    <li>
                                                      if your physical health problem is a result of your time in service
                                                      </li>
                                                     <li>
                                                       no matter when your physical health problem first appeared
                                                        </li>
                                                      <li>
                                                        no matter when you left the armed forces
                                                        </li>
                                                  </ul>

                                                  <h4>Accessing the Veterans Trauma Network</h4>

                                                  <p>

                                                  Ask a GP to refer you to the VTN. They can do this by emailing <a href="https://yellowcard.mhra.gov.uk/" title="External website">england.veteranstraumanetwork@nhs.net</a>.

                                                  </p>
                                                      <p>
                                                        A GP can refer you even if you were not medically discharged.
                                                      </p>
                                                    

              <h3>Veterans Welfare Service (VWS)</h3>

              <p>
                The Veterans Welfare Service (VWS)provides one-to-one support to all veterans, their families and carers.

                <p>
                  It is run by Veterans UK, which is part of the Ministry of Defence (MoD).
                  </p>

                  <p style="margin-bottom:0px;">
                    <a href="https://www.gov.uk/guidance/veterans-welfare-service">GOV.UK: More information and get in touch with the Veterans Welfare Service </a>
                    </p>

                    <p>
                      www.gov.uk
                      </p>







                                          <!-- <h4>Accessing the Veterans Trauma Network</h4>

                                          <p>
                                            You can only be referred to the VTN by a GP or by your medical centre if you are medically discharged. The GP must know you served in the armed forces to refer you.
                                            </p>

                                            <p>
                                              You can be referred if your injury is physical and was caused by serving in the armed forces. If you have a new injury you think was caused by your time in the armed forces, you can also ask for a referral from a GP if they agree.
                                              </p>

                                              <p>
                                                It does not matter how long it has been since your discharge, or how severe your injury is. You can still be referred even if you were not medical discharged.
                                                </p>



 -->




      <h2>Support for disabled veterans</h2>

      <p>
        There are many different NHS, MoD and charity services that are dedicated to providing support and treatment to veterans with disabilities.
        </p>

        <h3>Disablement Service Centres</h3>

        <p>
          If you lost a limb during your service, Disablement Service Centres (DSCs) can offer you specialist prosthetic and rehabilitation support.
          </p>

          <p>
            You can be referred to a DSC during your regular medical treatment if the service will benefit you.
            </p>

            <p>
              Ask a GP if you want more information about DSCs.
              </p>

              <h3>Veteran's Prosthetic Panel</h3>

              <p>
                If you need to apply for funding for a high-quality prosthetic limb, Disablement Service Centres can apply to the Veteran’s Prosthetic Panel (VPP) on your behalf.
                </p>

                <p>
                  You cannot apply for funding by yourself.
                  </p>

                  <p>
                    For the application to be considered, you must have either:
                    </p>

                    <ul>
                      <li>
                        lost a limb during military service
                        </li>
                        <li>
                          lost a limb due to an injury caused in service
                          </li>
                      </ul>

              <h3>Blesma</h3>

              <p>
                Blesma offer advice and support to veterans who lost a limb, the use of a limb, an eye or the use of sight during military service.
                </p>

                <p>
                  They work closely with NHS and MoD services for disabled veterans and can refer you to useful services. They also offer advice on financial benefits and support as well as helping you find appropriate community groups.
                  </p>

                  <p style="margin-bottom:0px;">
                    <a href="https://blesma.org/">Blesma: Find out more information</a>
                    </p>

                    <p>
                      www.blesma.org
                      </p>

                    <h3>Blind Veterans UK</h3>

                    <p>
                      Veterans with sight loss can get help and support from Blind Veterans UK.
                      </p>

                      <p>
                        They offer a range of support, including rehabilitation services, practical advice and emotional support.
                        </p>

                        <p style="margin-bottom:0px;">
                          <a href="https://www.blindveterans.org.uk/">Blind Veterans UK: Find out more</a>
                          </p>

                          <p>
                            www.blindveterans.org.uk
                            </p>

                          <h2>Financial support</h2>

                          <p>
                            There are many organisations who offer financial advice and support to veterans and their families or carers.
                            </p>

                            <p>
                              This includes <a href="charities">charities dedicated to supporting the armed forces community.</a>
                              </p>

                            <h3>Veterans UK</h3>

                            <p>
                              Veterans UK is part of the MoD.
                              </p>

                              <p>
                                They provide free support for serving personnel, veterans and their families, including:
                                </p>

                                <ul>
                                  <li>
                                    an urgent helpline
                                    </li>
                                    <li>
                                      running the Veterans Welfare Service and Defence Transition Services
                                      </li>
                                      <li>
                                        helping access support from government, local and charity organisations
                                        </li>
                                        <li>
                                          funding compensation scheme payments
                                          </li>
                                  </ul>


                                <p style="margin-bottom:0px;">
                                  <a href="https://www.gov.uk/government/organisations/veterans-uk">GOV.UK: Find more information about Veterans UK</a>
                                  </p>
                                  <p>
                                    www.gov.uk
                                    </p>

                                    <p style="margin-bottom:0px;">
                                      <a href="https://www.gov.uk/guidance/veterans-uk-contact-us">GOV.UK: Contact Veterans UK</a>
                                      </p>
                                      <p>
                                        www.gov.uk
                                        </p>

                                  <h3>Integrated Personal Commissioning for Veterans (IPC4V)</h3>

                                  <p>
                                    Veterans with a long-term physical, mental or neurological health condition or disability can get dedicated personalised care through Integrated Personal Commissioning for Veterans (IPC4V).
                                    </p>

                                    <p>
                                      This is a joint NHS and MoD programme.
                                      </p>

                                    <p>
                                      IPC4V is only available for veterans with specific health and well-being needs. You cannot self refer.
                                      </p>

                                      <p>
                                        If you are eligible, you can get a range of support, including:
                                        </p>

                                        <ul>
                                          <li>
                                            working with health and social care services and military charities to make a personalised care plan
                                            </li>
                                            <li>
                                              financial budgeting support
                                              </li>

                                              <li>
                                                planned support from services, community groups and charities
                                                </li>
                                          </ul>

                                    <p>
                                      Contact your <a href="https://www.nhs.uk/Service-Search/other-services/Clinical%20Commissioning%20Group/LocationSearch/1">local clinical commissioning group</a> or ask a GP for information on how to get help from IPC4V.
                                      </p>


                                            <h2>Mental health support</h2>

                                            <p>
                                              Veterans and their families and carers can access dedicated mental health support services run by the MoD, the NHS and mental health charities. These include:
                                              </p>

                                              <ul>
                                                <li>
                                                  Op COURAGE: the Veterans Mental Health and Wellbeing Service
                                                  </li>
                                                  <li>
                                                    the Veterans and Reserves Mental Health Programme
                                                    </li>
                                                    <li>
                                                    the Combat Stress mental health helpline
                                                    </li>
                                                    <li>
                                                      urgent NHS mental health support
                                                      </li>
                                                </ul>

                                                <p>
                                                  <a href="../level-3/mental-health-veterans">Find out more about mental health support for veterans and families.</a>
                                                  </p>

                                                  <h2>Charity support</h2>

                                                  <p>
                                                    There are many charities dedicated to providing support, advice and aid for veterans and their families.
                                                    </p>

                                                    <p>

Many of these charities cover a range of topics, including disability support, rehabilitation, self-help programmes, accessing services and further financial support.

                                                      </p>

                                                      <p>
                                                        <a href="charities">Find more information about charities that can help veterans and their families. </a>
                                                        </p>

                                                        <h2>Sexual assault support</h2>

                                                        <p>
                                                          If you have been sexually assaulted while in the armed forces or as a veteran, there are NHS services and charities that can give you help and advice.
                                                          </p>

                                                          <p>
                                                            <a href="">Find help after rape and sexual assault</a>
                                                            </p>

                                                            <p style="margin-bottom:0px;">
                                                              <a href="https://www.forward-assist.com/salute-her">Forward Assist’s Salute Her UK: advice and support for women who are veterans or currently serving</a>
                                                              </p>

                                                              <p>
                                                                www.forwardassist.com
                                                                </p>

                                                  <h2>Support for families of veterans</h2>

                                                  <p>
                                                    There is a range of support and advice available for families of armed forced veterans and non-mobilised reservists.
                                                    </p>

                                                    <p>
                                                      This includes services and charities dedicated to helping you with any healthcare and welfare concerns.
                                                      </p>

                                                      <p>
                                                        <a href="families">Find more information about support for armed forces families</a>
                                                        </p>









<div class="nhsuk-grid-row ">
  <div class="nhsuk-grid-column-two-thirds nhsuk-promo-group__item">
      <ul class="key-links">
          <h2>More in <a>Healthcare for the armed forces community</a></h2>
          <li><a href="transition">Leaving the armed forces</a></li>
          <li><a href="nhs-services">Using NHS services</a></li>
          <li><a href="serving-personnel">Healthcare for serving personnel</a></li>
          <li><a href="charities">Armed forces charities and support groups</a></li>
          <li><a href="mental-health-st">Mental health support</a></li>

      </ul>

      </div>
      </div>


<!-- End of content -->

{% endblock %}
