<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototypes - Becca
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK prototypes
      
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Prototypes created for Mission Team 3
      </p>

      <hr>

     

      <h2>
        A&E find a service
      </h2>
      <p>New A&E service finder based on the work of the Find a Service team</p>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version 1
          </span>
        </summary>
        <div class="nhsuk-details__text">
        
          <ul>
            <li><a href="/find-an-ae/find-an-ae">Version 1 - From Find a Service</a> </li>
            
          </ul>
        </div>
      </details>
      
      <hr>
<h2>Find an NHS urgent mental health helpline</h2>
<p>New urgent helpline service finder for people who are experiencing a mental health crisis</p>
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Version 1
    </span>
  </summary>
  <div class="nhsuk-details__text">
  
    <ul>
      <li><a href="/crisis-support-finder/v1/find-a-service">Version 1 - From Find a Service</a> </li>
      <li><a href="/crisis-support-finder/v1/urgent-mh-care">Version 1 - From Urgent care for mental health page</a>  </li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Version 2
    </span>
  </summary>
  <div class="nhsuk-details__text">
  
    <ul>
      <li><a href="/crisis-support-finder/v2/find-a-service">Version 2 - From Find a Service</a> </li>
      <li><a href="/crisis-support-finder/v2/urgent-mh-care">Version 2 - From Urgent care for mental health page</a>  </li>
    </ul>
  </div>
</details>
   
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Version 3
    </span>
  </summary>
  <div class="nhsuk-details__text">
  
    <ul>
      <li><a href="/crisis-support-finder/v3/find-a-service">Version 3 - From Find a Service</a> </li>
      <li><a href="/crisis-support-finder/v3/urgent-mh-care">Version 3 - From Urgent care for mental health page</a>  </li>
      <li><a href="/crisis-support-finder/v3/finder/age">Version 3 - Non England and general no result found error</a>  </li>
    </ul>
  </div>
</details>

<h3>MVP 2.0 - Post live iterations</h3>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Version 4 
    </span>
  </summary>
  <div class="nhsuk-details__text">
  <h4>Experimental designs</h4>
  
    <ul>
      <li><a href="/crisis-support-finder/v4/urgent-mh-care">Version 4 - Full journey from Urgent care for mental health page</a>  </li>
      <li><a href="/crisis-support-finder/v4/finder/outside-england">Version 4 - Outside of England results</a>  </li>
      <li><a href="/crisis-support-finder/v4/finder/results-busy">Version 4 - Busy messaging</a>  </li>
      <li><a href="/crisis-support-finder/v4/finder/results">Version 4 - More than one result </a>  </li>
    </ul>
 
  
      <h4>Next release designs<h4></h4>
  
    <ul>
      <li><a href="/crisis-support-finder/v4/find-a-service">Version 4 - Full journey from find a Service</a> </li>
      <li><a href="/crisis-support-finder/v4/urgent-mh-care">Version 4 - Full journey from Urgent care for mental health page</a>  </li>
      <li><a href="/crisis-support-finder/v4/conditions">Version 4 - Full journey from one of the conditions pages</a> </li>
      <li><a href="/crisis-support-finder/v4/finder/no-result">Version 4 - No result found error</a>  </li>
      
    </ul>
  </div>
</details>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
