<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{% from 'header/macro.njk' import header %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "https://www.nhs.uk/conditions",
        "label" : "Health A-Z"
      },
      {
        'url' : 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url'  : 'https://www.nhs.uk/conditions/social-care-and-support/',
        'label' : 'Care and support'
      },
      {
        'url'  : 'https://www.nhs.uk/pregnancy/',
        'label' : 'Pregnancy'
      },
      {
        'url' : 'https://www.nhs.uk/service-search',
        'label' : 'NHS services'
      }
    ]
  })
}}
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}

  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">


        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/docs">NHS sites</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">About us</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Contact us</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/docs">Profile editor login</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Sitemap</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Accessibility statement</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/docs">Our policies</a></li>
              <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="/">Cookies</a></li>
            
            </ul>

            <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
